-e git+https://github.com/mutalyzer/magic-python.git@centos6-fix#egg=Magic_file_extensions
Flask==0.12.4
Jinja2==2.10
MySQL-python==1.2.5
PyYAML==3.13
SQLAlchemy==1.0.12
Sphinx==1.3.6
Werkzeug==0.11.4
alembic==0.8.4
backtranslate==0.0.5
biopython==1.72
chardet==2.3.0
cssselect==0.9.1
-e git+https://github.com/mutalyzer/crossmapper.git#egg=crossmapper
description-extractor==2.3.5
interval-binning==1.0.0
lxml==3.5.0
mock==1.3.0
mockredispy==2.9.0.12
pyparsing==2.0.5
pytest==2.9.0
pytz==2015.7
redis==2.10.5
requests==2.20.1
simplejson==3.8.2
sphinx-rtd-theme==0.1.9
spyne==2.12.11
suds==0.4
wsgiref==0.1.2
xlrd==0.9.4
