-e git+https://github.com/LUMC/magic-python.git#egg=Magic_file_extensions
description-extractor==2.2.1
Flask==0.10.1
Jinja2==2.7.3
MySQL-python==1.2.5
PyYAML==3.11
SQLAlchemy==0.9.8
Sphinx==1.2.3
Werkzeug==0.9.6
alembic==0.8.2
biopython==1.64
chardet==2.3.0
cssselect==0.9.1
lxml==3.4.0
mock==1.0.1
mockredispy==2.9.0.9
pyparsing==2.0.3
pytest==2.8.2
pytz==2014.7
redis==2.10.3
requests==2.4.3
simplejson==3.6.4
sphinx-rtd-theme==0.1.6
spyne==2.11.0
suds==0.4
wsgiref==0.1.2
xlrd==0.9.3
