body{
/*	width: 900px;*/
/*	margin: 0 10px;*/
	padding-top: 70px;
/*	padding-top: 110px;*/

	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
}

.container-fluid .row a {
  text-decoration: underline;
}

.container-fluid .row a.btn {
  text-decoration: none;
}

.block {
	background: white;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	margin-bottom: 25px;

	border-radius: 2px;

	font-size: 14px;
	font-weight: 400;

}
.block-shadow {
/*	box-shadow: 0 -1px 2.5px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0,0,0.24);*/
	box-shadow: 1px 2px 2px rgba(50,50,50,.16), -1px -1px 3px rgba(50, 50, 50,.23);

}


.block h1 {
	font-size: 45px;
	color: rgb(0, 0, 0, 0.46);
	line-height: 48px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 16px;
}

.block-in-block{
/*	max-width: 944px;*/
	padding: 0;
	margin-bottom: 40px;
}


@media (max-width: 767px) {
	.block {
		padding: 15px;
	}

	.block-shadow {
		box-shadow: none;
	}

	.block h1 {
		font-size: 32px;
		line-height: 1em;
	}
}

footer{
	text-align: center;
	padding-top: 5px;
	clear: both;
}

footer.row {
	max-width: 1024px;
	margin: 0 auto;
}

.navbar {
/*	padding-top:20px;
	padding-bottom: 20px;*/
}
.navbar-header {
	z-index: 3;
	position: relative;
}

@media (min-width: 1380px) {
	.navbar > .container-fluid > .navbar-collapse {
		max-width: 1024px;
		margin: 0 auto;
	}
}

.navbar-header > .navbar-toggle {
	border-color: #888;
}

.background {
	background: url('../images/mutalyzer_logo.png');
	background-size: 100%;
	opacity: 0.3;
	position: absolute;
	width: 100%;
/*	height: 100%;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}

@media (max-width: 648px) {
	.background {
		height: 51px;
	}
}

h1{
/*	text-align: center;*/
}

h2,h3,h4,h5{
	text-align: left;
}

input[type="text"].form-pre{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
/*	color: #0B9B33;
	background-color: #F2F9F3;*/
	color: #333;
	background-color: inherit;
	white-space: normal;
}

pre{
/*  margin: 15px 30px;*/
}
header.main-header {
	height: 80px;
/*	width: 649px;*/
}

.details{
	background-color: aliceblue;
	padding: 20px;
	border: 1px solid #eee;
}

.table2 > td {
  padding: 3px;
 }

.table2{
	margin-bottom: 0px;
}

.pre {
  padding: 0 9.5px;
  margin: 0 30px 10px 30px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.helper{
	border-bottom: 1px dotted grey;
	cursor: default;
}

.summary{
	text-align: left;
}

#output{
	width: 100%;
	/*background-color: green;*/
}

#outputhelp{
	color: #444;
	font-size: 12px;
}

.remove{
	color: #FF0000;
	font-size: 11px;
	cursor: pointer;
}

#variants{
	/* border: 1px solid green; */
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* html .group             { zoom: 1; } /* IE6 */

*:first-child+html .group { zoom: 1; } /* IE7 */



.thumb-home {
	background-color: #ebebeb;
	height: 240px;
}

.thumb-home > .caption > h3 {
	margin-top: auto;
}

@media (min-height: 850px) and (min-width: 992px) {
	.thumb-home {
		height: 245px;
		margin-bottom: 30px;
	}

	.thumb-home > .caption > h3 {
		margin-top: 12px;
	}
}

@media (max-width: 991px) {
	.thumb-home {
		height: auto;
	}
}

.color-1 {
	background-color: rgba(165, 192, 96, .35);
	border-color: rgba(165, 192, 96, .75);
}

.color-2 {
	background-color: rgba(237, 160, 118, .35);
	border-color: rgba(237, 160, 118, .75);
}
.color-3 {
	background-color: rgba(112, 187, 224, .35);
	border-color: rgba(112, 187, 224, .75);
}

.color-4 {
	background-color: rgba(172, 135, 204, .35);
	border-color: rgba(172, 135, 204, .75);
}

.color-5 {
	background-color: rgba(255, 238, 128, .35);
	border-color: rgba(255, 238, 128, .75);
}

.color-6 {
	background-color: rgba(189, 95, 101, .35);
	border-color: rgba(189, 95, 101, .75);
}

.color-7 {
	background-color: rgba(191, 191, 191, .35);
	border-color: rgba(191, 191, 191, .75);
}

.color-8 {
	background-color: rgba(84, 84, 84, .35);
	border-color: rgba(84, 84, 84, .75);
}

.color-1:hover {
	background-color: rgba(165, 192, 96, .6);
	border-color: rgba(165, 192, 96, 1);
}

.color-2:hover {
	background-color: rgba(237, 160, 118, .6);
	border-color: rgba(237, 160, 118, 1);
}
.color-3:hover {
	background-color: rgba(112, 187, 224, .6);
	border-color: rgba(112, 187, 224, 1);
}

.color-4:hover {
	background-color: rgba(172, 135, 204, .6);
	border-color: rgba(172, 135, 204, 1);
}

.color-5:hover {
	background-color: rgba(255, 238, 128, .6);
	border-color: rgba(255, 238, 128, 1);
}

.color-6:hover {
	background-color: rgba(189, 95, 101, .6);
	border-color: rgba(189, 95, 101, 1);
}

.color-7:hover {
	background-color: rgba(191, 191, 191, .6);
	border-color: rgba(191, 191, 191, 1);
}

.color-8:hover {
	background-color: rgba(84, 84, 84, .6);
	border-color: rgba(84, 84, 84, 1);
}


.thumb-large {
	font-size: 17px;
	line-height: 24px;
	height: auto;
}

.thumb-large > caption > h3{
	font-size: 27px;
}
.clickbox {
	cursor: pointer;
}

.navbar-default .navbar-nav > li > a{
	color: #444;
}

.block-700{
	min-width: 900px;
	padding: 20px;
}

.form-control-small{
	width: 740px;
	display: inline-block;
}
.form-control-clear{
	width: 842px;
	display: inline-block;
}

.leftcol{
	width: 40%;
	float: left;
}

.rightcol{
	width: 40%;
	float: right;
}

.example-input, .example-input-2 {
	cursor: pointer;
	color: #0B9B33;
}

.example-input:hover, .example-input-2:hover {
	color: #F2F9F3;
	background-color: #5BC779;
}

.btn-home-down {
	position: absolute;
	bottom: 34px;
	right: 34px;
}

@media (min-height: 850px) and (min-width: 992px) {
	.btn-home-down {
		bottom: 44px;
	}
}

@media (max-width: 991px) {
	.btn-home-down {
		position: static;
	}
}


.btn.pull-right + .btn.pull-right {
	margin-right: 4px;
}

@media (max-width: 767px) {
	.btn {
		width: 100%;
	}
	.btn ~ .btn {
		margin: 5px 0px 0px 0px;
	}
	.btn.pull-right + .btn.pull-right {
		margin-right: 0px;
	}
}


.label-left{
	width: 160px;
}

/* NAME CHECKER SPECIFIC */
@media (min-width: 992px) {
	.name-checker-left-column {
		padding-right: 40px;
	}

	.name-checker-left-column > h3  {
		margin-top: 40px;
	}

	.name-checker-left-column > h4 {
		margin-top: 25px;
	}
}

/* NAME GENERATOR SPECIFIC */
.form-horizontal-inline > div.form-group, .form-horizontal-inline > div > div.form-group {
	margin-left: 0;
	margin-right: 0;
}


.form-signin {
  width: 610px;
  margin: 0 auto;
  display: block;
  padding: 15px 30px;
  /* border: 1px solid blue; */
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table thead > tr > th.text-middle {
    vertical-align: middle;
}
