{% extends "base.html" %}

{% if batchType == "NameChecker" %}
  {% set active_page = "batch-name-checker" %}
{% elif batchType == "SyntaxChecker" %}
  {% set active_page = "batch-syntax-checker" %}
{% elif batchType == "PositionConverter" %}
  {% set active_page = "batch-position-converter" %}
{% elif batchType == "SnpConverter" %}
  {% set active_page = "batch-snp-converter" %}
{% else %}
  {% set active_page = "batch-jobs" %}
{% endif %}

{% set page_title = "Batch Job Interface" %}

{% block content %}

<p>
<a href="#" onclick="toggle_visibility('help');">Toggle File Format Help</a>
</p>

<div id='help' style="display:none">
  <p>The mutalyzer batch checker accepts the following file formats
    <ul>
        <li>Tab delimited text file / CSV file</li>
        <li>Microsoft Excel file</li>
        <li>OpenOffice ODS file</li>
    </ul>
    and the maximum size is <span tal:content = "maxSize"></span> megabytes.
    </p>
  <h5>We accept two types of input files, you can download examples below</h5>
  <h5>New Style <a href="downloads/batchtestnew.txt">Download Example File</a></h5>
  <div style="padding-left:20px; width:400px">
      <p>This file format has no header-row. Each row consists of one or
        more tab delimited fields, where every field contains a single
        variant description (or dbSNP rs number in case of the SNP Converter).
        Note that all rows must have the same number of fields.</p>
      <table>
          <tr><td>AB026906.1:c.274G&gt;T</td></tr>
          <tr><td>AL449423.14(CDKN2A_v002):c.5_400del</td></tr>
      </table>
  </div>
  <h5>Old Style:
      <a href="downloads/batchtestold.txt">Download Example File</a></h5>
  <div style="padding-left:20px; width:400px">
      <p >This file format has a header-row, which consists of
      three tab delimited fields. In each following row the
      corressponding data is also tab delimited.</p>
      <table>
          <tr>
              <td>AccNo</td><td>Genesymbol</td><td>Mutation</td>
          </tr>
          <tr>
              <td>AB026906.1</td><td>SDHD</td><td>g.7872G>T</td>
          </tr>
      </table>
  </div>
  <h5>Output Format</h5>
  <div style="padding-left:20px; width:400px">
      <p>The output of a Mutalyzer Batch run is a tab delimited CSV file,
        which has a header-row to clarify the results. We recommend opening
        the file in a spreadsheet program, such as OpenOffice Calc or
        Microsoft Excel.<BR />
        Note that empty lines are removed from the batch input file.</p>
  </div>
</div>

<table id="inputform">
    <form action="" method="post" enctype="multipart/form-data">
        <tr id="batchRow">
            <td><b>BatchType</b></td>
            <td>
          <select id="batchType" name="batchType" onchange="return changeBatch(this)">
              <option value="NameChecker">Name Checker</option>
              <option value="SyntaxChecker">Syntax Checker</option>
              <option value="PositionConverter">Position Converter</option>
              <option value="SnpConverter">SNP Converter</option>
          </select>
            </td>
          </tr>
        <tr>
        <tr id="build" style="display:none">
            <td><b>Build</b></td>
            <td>
                <select name="arg1">
                    <option selected="selected" value="{{ selected_build|e
                    }}">{{ selected_build|e }}</option>
                    {% for i in unselected_builds %}
                      <option value="{{ i|e }}">{{ i|e }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td><input type="text" name="batchEmail" value="{{ lastpost|e }}" style="width:200px"></td>
        </tr>
        <tr>
            <td><b>File</b></td>
            <td><input type="file" name="batchFile" style="width:200px"></td>
        </tr>
        <tr>
            <td colspan="2">
              <input type="submit" value="Submit">
              <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/BatchCheckers">Help</a>
            </td>
        </tr>
    </form>
</table>

<script language="javascript">
oldload = window.onload
initpage = function() {
  if (oldload)
    oldload();
  onloadBatch();
}
</script>

<script language="javascript">
document.getElementById('batchType').selectedIndex = {{ selected|e }};
document.getElementById('batchRow').style.display = '{{ hideTypes|e }}';
window.onload = initpage;
</script>

{% if errors %}
  <p>
  <b>Errors:</b>
  </p>
  <div class="messages">
    {% for m in errors %}
      <p class="{{ m.class|e }}" title="{{ m.level|e }} (origin: {{ m.origin|e
      }})">{{ m.description|e }}</p>
    {% endfor %}
  </div>
{% endif %}

{% if messages %}
  <p>
  <b>Messages:</b>
  </p>
  <div class="messages">
    {% for m in messages %}
      <p class="{{ m.class|e }}" title="{{ m.level|e }} (origin: {{ m.origin|e }})">{{ m.description|e }}</p>
    {% endfor %}
    <p>{{ summary|e }}</p>
  </div>
  {% if resultID %}
    <div id="percent">Your job is in progress and currently at 0%</div>
    <input id="resultID" type="hidden" name="resultID" value="{{ resultID|e }}">
    <input id="totalJobs" type="hidden" name="totalJobs" value="{{ totalJobs|e }}">
  {% endif %}
{% endif %}

{% endblock content %}
