<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <center><h3>Position Conversion</h3></center>
      <div style="border: 1px solid grey; background-color: aliceblue; padding: 20px;">
        Please supply the build which you want to use to convert your
        position, available builds at the moment are: hg18 (NCBI36), hg19
        (GRCh37) and mm10 (GRCm38).<br>
        <br>
        Example: NM_003002.2:c.274G&gt;T<br>
        or: chr11:g.111959693G&gt;T<br>
        or: NC_000011.9:g.111959693G&gt;T<br>
        <br>
        <table id="inputform">
            <form action = "" method = "post" enctype = "multipart/form-data">
                <tr>
                    <td><b>Build</b></td>
                    <div tal:content = "build"></div>
                    <td>
                        <select name="build">
                          <option
                          selected="selected"
                          tal:content = "selected_build"
                          tal:attributes = "value selected_build">
                          </option>
                          <option tal:repeat = "i unselected_builds"
                          tal:content = "i"
                          tal:attributes = "value i">
                          </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>Variant</b></td>
                    <td><input type = "text"
                               name = "variant"
                               tal:attributes = "value variant"
                               style = "width:500px"></td>
                </tr>
                <tr>
                    <td colspan="2">
                      <input type="submit" value="Submit">
                      <input type="button" value="Clear field" onclick="clearField(this.form, 'variant');">
                    </td>

                </tr>
            </form>
        </table> <!-- inputform -->
      </div>

      <div tal:condition = "posted">
        <h3>Results:</h3>
        <div class="messages">
        <p tal:repeat = "m messages" tal:content = "m/description"
           tal:attributes = "class m/class; title string:${m/level} (origin: ${m/origin})"></p>
        <p tal:content = "summary"></p>
        </div>
        <div tal:condition = "gName">
          <br>
          <br>
          <b>Chromosomal Variant:</b><br>
          <pre><div tal:replace = "structure string:${gName}<br>"></div></pre>
          <b tal:condition = "not:cNames">No transcripts found in mutation region</b><br><br>
        </div>
        <div tal:condition = "cNames">
          <b>Found transcripts in mutation region:</b><br>
          <pre><div tal:repeat = "i cNames"
                    tal:replace = "structure string:${i}<br>">
          </div></pre>
        </div>
      </div>

    </div> <!-- div metal:define-macro="content" -->
  </body>
</html>
