<html>
  <head>
    <link rel="shortcut icon"
      href="base/images/favicon.ico"
      type="image/x-icon">
    <link rel="stylesheet"
      type="text/css"
      href="base/css/style.css">
    <script
      type="text/javascript"
      language="javascript"
      src="base/js/interface.js?20120511">
    </script>
    <script
      type="text/javascript"
      language="javascript"
      src="base/js/generator.js">
    </script>
    <meta http-equiv="Content-Type"
      content="text/html; charset=iso-8859-1">
    <title tal:content = "structure string:Mutalyzer ${version}"></title>
  </head>
  <body
    style="background-image: url('base/images/background.gif');
           background-repeat: repeat-y;"
    leftmargin="0"
    topmargin="0"
    marginwidth="0"
    marginheight="0">
    <!-- Header -->
    <a id = "top" name = "top"></a>

    <table width="98%"
      border="0"
      cellspacing="0"
      cellpadding="0">
      <tr>
        <!-- Corner logo -->
        <td rowspan="2"
          valign="bottom"
          width="180">
          <a href="index"
            target="_top"><img
              src="base/images/mutalyzer_logo_bw.png" width="180" height="112"
              alt="Rauzy fractal" border="0" hspace="0" vspace="0"></a></td>
        <td valign="top"
          bgcolor="#FFFFFF"
          width="20"><img
            src="base/images/1x1b.gif" height="1" width="20" border="0">
        </td>
        <td align="left"
          valign="bottom"
          bgcolor="White"
          width="98%">
          <!-- Banner -->
          <center>
            <a href="index"><img
                src="base/images/mutalyzer_logo.png"
                width="90%"
                height="90"
                alt="Rauzy color fractal"
                border="0"></a>
          </center>
        </td>
      </tr>

      <tr>
        <td>
        </td>
        <td>
        <table width = "100%" style = "padding:0; border:0; margin:0">
          <tr>
            <td align="left">
              <a href="javascript:history.back(-1);"
                 class="hornav">previous page</a>&nbsp;&nbsp;&nbsp;
            </td>
            <td align="right">
              <a href="index"
                 class="hornav">home</a>&nbsp;&nbsp;&nbsp;
              <a href="about"
                 class="hornav">about</a>&nbsp;&nbsp;&nbsp;
              <a tal:attributes = "href string:mailto:${contactEmail}"
                 class="hornav">contact</a>&nbsp;&nbsp;&nbsp;
              <a href="#bottom" class="hornav">go to bottom</a>&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
        </table>
        </td>
      </tr>

      <tr>
        <td colspan="3"
          bgcolor="#000000"><img
            src="base/images/1x1b.gif"
            height="1"
            border="0"></td>
      </tr>
    </table>

    <table width="98%"
      border="0"
      cellspacing="0"
      cellpadding="0">
    <tr>
      <td width="180" valign="top">

      <table id="menu" width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" width="20">
          <img src="base/images/1x1b.gif" height="19" border="0">
        </td>
      </tr>

      <tr tal:attributes="class active/index">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="index">Home</a>
        </td>
      </tr>

      <tr tal:attributes="class active/check">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="check">Name Checker</a>
        </td>
      </tr>

      <tr tal:attributes="class active/parse">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="syntaxCheck">Syntax Checker</a>
        </td>
      </tr>

      <tr tal:attributes="class active/converter">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="positionConverter">Position Converter</a>
        </td>
      </tr>

      <tr tal:attributes="class active/snp">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="snp">SNP Converter</a>
        </td>
      </tr>

      <tr tal:attributes="class active/nameGenerator">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="nameGenerator">Name Generator</a>
        </td>
      </tr>

      <tr tal:attributes="class active/descriptionExtract">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="descriptionExtract">Description Extractor</a>
        </td>
      </tr>

      <tr tal:attributes="class active/gbupload">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="upload">Reference File Loader</a>
        </td>
      </tr>

      <tr tal:attributes="class active/batch">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="batch">Batch Jobs</a>
        </td>
      </tr>

      <tr tal:attributes="class active/batchNameChecker">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="batchNameChecker">Name Checker</a>
        </td>
      </tr>

      <tr tal:attributes="class active/batchSyntaxChecker">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="batchSyntaxChecker">Syntax Checker</a>
        </td>
      </tr>

      <tr tal:attributes="class active/batchPositionConverter">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="batchPositionConverter">Position Converter</a>
        </td>
      </tr>

      <tr tal:attributes="class active/batchSnpConverter">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="batchSnpConverter">SNP Converter</a>
        </td>
      </tr>

      <tr tal:attributes="class active/webservices">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="webservices">Webservices</a>
        </td>
      </tr>

      <tr><td>&nbsp;</td></tr>

      <tr tal:attributes="class active/help">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="help">Help</a>
        </td>
      </tr>

      <tr tal:attributes="class active/faq">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="faq">FAQ</a>
        </td>
      </tr>

      <tr tal:attributes="class active/exercise">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="exercise">Exercise</a>
        </td>
      </tr>

      <tr tal:attributes="class active/disclaimer">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="disclaimer">Disclaimer</a>
        </td>
      </tr>

      <tr class="menu">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          <a href="https://humgenprojects.lumc.nl/trac/mutalyzer">Feedback</a>
        </td>
      </tr>

      <tr><td>&nbsp;</td></tr>

      <tr class="menu inactive">
        <td valign="top" width="20" class="bullet"></td>
        <td colspan="3">
          External Links
        </td>
      </tr>

      <tr class="menu">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="http://www.genenames.org/guidelines.html"
           >Human Gene Nomenclature</a>
        </td>
      </tr>

      <tr class="menu">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="http://www.hgvs.org/mutnomen/"
           >HGVS Variation Nomenclature</a>
        </td>
      </tr>

      <tr class="menu">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="http://www.hgvs.org/mutnomen/HGVS_extend_PT.doc"
           >HGVS Nomenclature Extension Proposal</a>
        </td>
      </tr>

      <tr class="menu">
        <td></td>
        <td valign="baseline" width="10" class="bullet sub"></td>
        <td colspan="2">
          <a href="http://www.lovd.nl/">LOVD</a>
        </td>
      </tr>

      <tr>
        <td width="20"><img
          src="base/images/1x1b.gif"
          height="10"
          width="20"
          border="0">
        </td>
        <td width="12"><img
          src="base/images/1x1b.gif"
          height="10"
          width="10"
          border="0">
        </td>
        <td valign="top" width="12"><img
          src="base/images/1x1b.gif"
          height="10"
          width="10"
          border="0">
        </td>
        <td valign="top" width="136"><img
          src="base/images/1x1b.gif"
          height="10"
          width="136"
          border="0">
        </td>
      </tr>
      </table>

    </td>
    <td width="20"><img
      src="base/images/1x1b.gif"
      height="1"
      width="20"
      border="0">
    </td>
    <td width="98%" valign="top"><br>

    <!-- Content -->

    <table cellpadding="0" cellspacing="0" width="100%" border="0">
    <tbody><tr>
    <td width="0"></td>
    <td width="0">


    <center>
      <h2 tal:condition = "release"
          tal:content = "structure string:Mutalyzer ${version}<br>
        <small><small><small><small>
          released on ${releaseDate}
        </small></small></small></small>"></h2>
      <h2 tal:condition = "not:release"
          tal:content = "structure string:Mutalyzer ${version}<br>
        <small><small><small><small>
          development version
        </small></small></small></small>"></h2>
      HGVS nomenclature version
      <span tal:content = "nomenclatureVersion"></span>
    </center>
    <p>

    <div metal:use-macro = "sitemacros/macros/content"></div>

      <!-- Navigation bar -->
      <table border="0"
        cellspacing="0"
        cellpadding="0"
          width="100%"
        align="center">
      <tr>
        <td colspan="2"><img
          src="base/images/1x1b.gif"
          width="1"
          height="20"
          border="0">
        </td>
      </tr>
      <tr>
        <td bgcolor="#000000" colspan="3"><img
          src="base/images/1x1b.gif"
          width="100%"
          height="1"
          border="0"></td>
      </tr>
      <tr>
        <td align="left">
          &nbsp;<a href="javascript:history.back(-1);"
             class="hornav">previous page</a>
        </td>
        <td align="middle">
          <img src = "base/images/LUMC_24x24.png" align = "middle">
          &nbsp; &copy; <tal tal:replace = "copyrightYears/0"></tal>-<tal tal:replace = "copyrightYears/1"></tal>
          <a href = "http://www.lumc.nl">LUMC</a>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;
        </td>
        <td align="right">
          <a href="#top" class="hornav">go to top</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
  <!--
        <td colspan="2"
          align="center">Last edited by:  with /usr/bin/vim
        </td>
  -->
      </tr>
      <tr>
        <td colspan="2"><img
          src="base/images/1x1b.gif"
          width="1"
          height="10"
          border="0">
        </td>
      </tr>
      </table>
    </td>
  </tr>
  </table>
  <a id = "bottom" name = "bottom"></a>
  </body>
</html>
