<html>
  <head>
    <title></title>
  </head>
  <body >
<!-- Start of template -->
<div metal:define-macro="content">
<center><h3 tal:content = "structure string:Name Generator"></h3></center>

    <div id="main">
      <form id="mainform" onkeyup="update();" onchange="update();">
        <fieldset>
        <legend>Reference</legend>
        <table id="refTable">
          <tbody>
          <tr id="refe">
            <td>Reference</td>
            <td><input type="text" name="refe" size="20" value=""></td>
            <td id="refeerror" class="errors"></td>
          </tr>

          <tr id="seqT">
            <td>Sequence Type</td>
            <td>
              <select name="seqT" size="1">
                <option value="g">Genomic</option>
                <option value="c" selected="1">Coding DNA</option>
                <option value="n">NonCoding DNA</option>
                <option value="r">RNA</option>
                <option value="m">Mitochondrial DNA</option>
                <option value="p" disabled="true">Protein</option>
                <!-- Protein Naming not yet implemented-->
                <option value="e">EST</option>
              </select>
            </td>
            <td id="seqTerror" class="errors"></td>
          </tr>

          <tr id="tlc" style="display: none; ">
            <td></td>
            <td>
                <input type="radio" name="tlc" value="0"> One Letter Code
                <input type="radio" name="tlc" value="1" checked=""> Three Letter Code
            </td>
            <td></td>
        </tr>

          <tr id="gSym">
            <td>Gene Symbol</td>
            <td>
              <input type="text" name="gSym" size="20" value="">
            </td>
            <td id="gSymerror" class="errors"></td>
          </tr>

          <tr id="tVar">
            <td>Transcript</td>
            <td>
              <input type="text" name="tVar" size="20" value="">
            </td>
            <td id="tVarerror" class="errors"></td>
          </tr>
        </tbody>
        </table>
        </fieldset>

      <div id="variants">
        <!-- This is where the mutations will be arriving -->
      </div>
      <div id="optional">
          <p><sup>*</sup> This field is optional</p>
      </div>
      <div id="addButton">
          <input type="button" onclick="addVariant();" value="Add Variant">
          <input type="button" onclick="if(confirm('This action will clear all
                                        input
                                        fields'))javascript:location.reload(true);"
                 value="Clear Form">
          <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/NameGenerator">Help</a>
      </div>
    </form>


    <fieldset id="outputfield">
        <legend>Constructed HGVS Name - Please click the link to check with the Name Checker</legend>
        <div id="output" >
            <!-- Empty PlaceHolder -->
        </div>
    </fieldset>

<!-- Inline Javascript -->

<script language="javascript">
    oldload = window.onload;
    window.onload = function() {
        if(oldload)
          oldload();
        update();
    }

</script>

<!-- Inline CSS -->

<style type="text/css">

    .errors{
        color: #FF0000;
        font-size: 10px;
    }

    #optional{
        color: #888;
        font-size: 10px;
        line-height: 20px;
    }

    #outputfield{
        background-color: #EFF;
    }

    #output{
        width: 100%;
        /*background-color: green;*/
    }

    #outputhelp{
        color: #444;
        font-size: 12px;
    }

    .remove{
        color: #FF0000;
        font-size: 11px;
        cursor: pointer;
    }

</style>

<!-- Variant Template -->
<div id="varianttemplate" style="display: none">
<table>

    <tbody id="V{NMBR}mutTrow">
        <tr name="mutT">
            <td>Mutation Type</td>
            <td>
                <select name="V{NMBR}mutT" onchange="update();">
                <option value="1">Substitution</option>
                <option value="2">Deletion</option>
                <option value="3">Insertion</option>
                <option value="4">Duplication</option>
                <option value="5">Insertion/Deletion</option>
                <option value="6">Inversion</option>
              </select>
            </td>
            <td id="{NMBR}mutTerror" class="errors"></td>
        </tr>
  </tbody>

  <tbody id = "V{NMBR}P1row">
      <tr name="P1">
          <td id = "V{NMBR}P1name">Start Position</td>
          <td>
            <input type="text" name="V{NMBR}P1" size="20" value="">
          </td>
          <td id="V{NMBR}P1error" class="errors"></td>
      </tr>
  </tbody>

  <tbody id = "V{NMBR}P2row">
      <tr name="P2">
          <td id="V{NMBR}P2name">End Position</td>
        <td>
          <input type="text" name="V{NMBR}P2" size="20" value="">
        </td>
        <td id="V{NMBR}P2error" class="errors"></td>
    </tr>
  </tbody>


  <tbody id="V{NMBR}S1row">
      <tr name="S1">
          <td id="V{NMBR}S1name">Old Sequence</td>
          <td>
            <input type="text" name="V{NMBR}S1" size="20" value="">
          </td>
          <td id="V{NMBR}S1error" class="errors"></td>
      </tr>
  </tbody>

  <tbody id="V{NMBR}S2row">
      <tr name="S2">
          <td id="V{NMBR}S2name">New Sequence</td>
        <td>
          <input type="text" name="V{NMBR}S2" size="20" value="">
        </td>
        <td id="V{NMBR}S2error" class="errors"></td>
      </tr>
  </tbody>

</table>

</div><!-- varianttemplate -->

</div>

</div>
</body>
</html>
