<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <center>
        <h3>About</h3>
      </center>
      Mutalyzer <span tal:content = "structure string:${version}"></span>
      is designed and developed by Jeroen F. J. Laros, with the
      following exceptions:
      <ul>
        <li>The LRG parser, as well as the Batch interfaces are written
            by Gerben R. Stouten.</li>
        <li>The position converter interfaces (webservice and WWW) are
            written by Gerard C. P. Schaafsma.</li>
      </ul>
      Specifications are given by Peter E. M. Taschner and Johan T. den 
      Dunnen.<br>
      <br>
      Since the publication is under development, please use the old 
      reference for now when referring to these pages:
      <a href="http://www.ncbi.nlm.nih.gov/entrez/utils/fref.fcgi?PrId=3058&itool=AbstractPlus-def&uid=18000842&db=pubmed&url=http://dx.doi.org/10.1002/humu.20654">
        &quot;Wildeman M et al. (2008). Improving sequence variant
        descriptions in mutation databases and literature using the
        Mutalyzer sequence variation nomenclature checker. Hum Mutat 29,
        6-13&quot;</a>.<br>
      <br>
      Project development is sponsored by
      <a href="http://www.gen2phen.org" target="_blank">
        <img src="base/images/gen_2_phen_logo_print.png" 
             width="110"
             height="50"
             align="middle"
             border="0"
             alt="Eurogentest"></a>
      and has been supported by
      <a href="http://www.eurogentest.org" target="_blank">
        <img src="base/images/Eurogentest.png"
             width="110"
             height="50" 
             align="middle"
             border="0"
             alt="Eurogentest"></a>
      <br>
    </div>
  </body>
</html>
