<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv = "Content-type" content = "text/html; charset=UTF-8">
    <title tal:content = "structure string:Mutalyzer ${version}"></title>
  </head>
  <body>
<!--
    <div metal:use-macro = "sitemacros/macros/menu"></div>
-->
    <div metal:define-macro="content">
      <center>
        <big tal:content = "structure string:Mutalyzer ${version} Batch Name
            Checker.">
        </big>
      </center>

          <div id="help">
              <!-- <input type="button" value="help"> jQuery Toggle -->
              <p>Please upload your batch file in any of the following formats
                  <ul>
                      <li>Plain text file</li>
                      <li>Microsoft Excel XML file</li>
                      <li>OpenOffice .odt file</li>
                  </ul>
              Each row of the file should contain a mutation name
              </p>
          Example: AB026906.1:c.274G&gt;T<br /><br />
          </div> <!-- help -->
    
          <div tal:condition = "errors" id="errors">
              <b>Errors:</b><br />
            <div tal:repeat = "i errors"
                      tal:replace = "structure string:${i}<br>">
             </div>
          </div>

          <table id="inputform">
              <form action = "" method = "post" enctype = "multipart/form-data">
                  <tr>
                      <td><b>Email</b></td>
                      <td><input type = "text" 
                                 name = "batchNameCheckEmail" 
                                 tal:attributes = "value lastpost"
                                 style = "width:200px"></td>
                  </tr>
                  <tr>
                      <td><b>File</b></td>
                      <td><input type = "file" 
                                 name = "batchNameCheckFile" 
                                 style = "width:200px"></td>
                  </tr>
                  <tr>
                      <td colspan="2"><input type="submit" value="Submit"></td>
                  </tr>
              </form>
          </table> <!-- inputform -->


      <div tal:condition = "messages">
        <b>System output</b><br>
         <pre><div tal:repeat = "i messages"
             tal:replace = "structure string:${i}<br>">
        </div></pre>
        <br />
      </div>

      <div tal:condition = "debug">
        <b>Debug output:</b><br>
        <pre><div tal:repeat = "i debug"
             tal:replace = "structure string:${i}<br>">
        </div></pre>
      </div>
    </div>
  </body>
</html>
