<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv = "Content-type" content = "text/html; charset=UTF-8">
    <title tal:content = "structure string:Mutalyzer ${version}"></title>
    <script type = "text/javascript" 
        language = "javascript" 
        src = "test.js">
    </script>
  </head>
  <body onload = "yo()">
<!--
    <div metal:use-macro = "sitemacros/macros/menu"></div>
-->
    <center>
      <big tal:content = "structure string:Mutalyzer ${version} nomenclature 
                          check.">
      </big>
    </center><br>
    Please insert the mutation name using the format:<br>
    <small>
      &lt;Accession Number&gt;.&lt;version 
      number&gt;(&lt;Gene symbol&gt;):&lt;sequence 
      type&gt;.&lt;mutation&gt;
    </small><br>
    <br>
    Example: AB026906.1:c.274G&gt;T<br>
    <br>
    <form action = "" method = "post">
      <input 
        type = "text" 
        name = "mutationName" 
        tal:attributes = "value lastpost"
        size = "100%"
      ><br>
      <input 
        type="submit" 
        value="Submit"
      >
    </form>
    <pre tal:content = "structure mut_output"></pre>
  </body>
</html>
