<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <center><h3>Position Conversion</h3></center>
      Please supply the build which you want to use to convert your
      position, available builds at the moment are: hg18 (NCBI 36) and hg19
      (GRCh37).<br>
      <br>
      Example: NM_003002.2:c.274G&gt;T<br>
      or: chr11:g.111959693G&gt;T<br>
      or: NC_000011.9:g.111959693G&gt;T<br>
      <br>
      <table id="inputform">
          <form action = "" method = "post" enctype = "multipart/form-data">
              <tr>
                  <td><b>Build</b></td>
                  <div tal:content = "build"></div>
                  <td>
                      <select name="build">
                        <option tal:repeat = "i avail_builds"
                        tal:content = "i">
                        </option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <td><b>Variant</b></td>
                  <td><input type = "text" 
                             name = "variant" 
                             tal:attributes = "value variant"
                             style = "width:500px"></td>
              </tr>
              <tr>
                  <td colspan="2">
                    <input type="submit" value="Submit">
                    <input type="button" value="Clear field" 
                           onClick = "clearForm(this.form, 'variant');">
                  </td>

              </tr>
          </form>
      </table> <!-- inputform -->

      <div tal:condition = "gName">
        <br>
        <br>
        <h3>Output:</h3>
        <br>
        <b>Chromosomal Variant:</b><br>
        <pre><div tal:replace = "structure string:${gName}<br>"></div></pre>
      </div>

      <div tal:condition = "cNames">
        <b>Found transcripts in mutation region:</b><br>
        <pre><div tal:repeat = "i cNames"
             tal:replace = "structure string:${i}<br>">
        </div></pre>
      </div>

      <div tal:condition = "debug">
        <b>Debug output:</b><br>
        <pre><div tal:repeat = "i debug"
             tal:replace = "structure string:${i}<br>">
        </div></pre>
      </div>

      <div tal:condition = "errors">
        <b>Error output:</b><br>
        <pre><div tal:repeat = "i errors"
             tal:replace = "structure string:${i}<br>">
        </div></pre>
      </div>

    </div> <!-- div metal:define-macro="content" -->
  </body>
</html>
