<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv = "Content-type" content = "text/html; charset=UTF-8">
    <title tal:content = "structure string:Mutalyzer ${version}"></title>
    <script type = "text/javascript" 
        language = "javascript" 
        src = "test.js">
    </script>
  </head>
  <body onload = "yo()">
<!--
    <div metal:use-macro = "sitemacros/macros/menu"></div>
-->
      <big tal:content = "structure string:Position numbering conversion
      by Mutalyzer ${version}.">
      </big>
    <br>
    <br>
    <br>
    Please insert the build, hg18 (NCBI 36) or hg19 (GRCh37) and the variant name
    using the format:<br>
    <small>
      &lt;Accession Number&gt;.&lt;version 
      number&gt;:c.&lt;variant&gt;<br>or<br>
      &lt;Accession Number&gt;.&lt;version 
      number&gt;:g.&lt;variant&gt;
    </small><br>
    <br>
    <h3> Examples:</h3>
    NM_000051.3:c.274G&gt;T<br>
    or
    <br>
    NC_000011.9:g.66594541T&gt;C<br>
    or
    <br>
    chr11:g.66594541T&gt;C<br>
    <br>
    <h5>Note: this is a position converter! It does not check variant
    nomenclature. Please use <A href="http://mutalyzer.nl/1.0.4/">
    Mutalyzer's name checker</A> to check nomenclature
    
    </h5>
    <form action = "" method = "post">
      <small> Build</small>
<!--
      <input 
        type = "text" 
        name = "build" 
        tal:attributes = "value build"
        size = "10%"
      ><br><br>
-->      
      <select name="build">
        <option tal:repeat="build_list avail_builds"
                tal:content="build_list/build"
                tal:attributes="value build_list/build; selected python:build_list/build==build_list/build">
        </option>
      </select>
      <small> Variant name </small>
      <input 
        type = "text" 
        name = "variant" 
        tal:attributes = "value variant"
        size = "100%"
      ><br><br>
      <input 
        type="submit" 
        value="Submit"
      >
    </form>
    <br>
    <div tal:content="trans_output">
    </div>
    <h2 tal:content = "title2"></h2>
    <B tal:content = "conv_output"></B>
    <a tal:attributes = "href link_output/page" 
       tal:content="link_output/title" target="_blank">link</a>
    <br>
    <h2 tal:content="title"></h2>
    <div tal:repeat="genes_list genes_output">
      <B tal:content = "genes_list/gene"></B>:
      <small tal:content = "genes_list/mrnaAcc"></small>
    </div>
<!--
    <form action = "index" method = "post">
      <input 
        type = "text" 
        name = "mutationName" 
        tal:attributes = "value lastpost"
        size = "100%"
      ><br>
      <input 
        type="submit" 
        value="Submit"
      >
    </form>
-->

  </body>
</html>
