<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <center>
        <h3>Disclaimer</h3>
      </center>
      We have used all reasonable efforts to ensure that the information
      displayed on these pages is of high quality. We make no warranty, express
      or implied, as to its accuracy or that the information is fit for a
      particular purpose, and will not be held responsible for any consequences
      arising out of any inaccuracies or omissions. Individuals, organizations
      and companies which use this program do so on the understanding that no
      liability whatsoever either direct or indirect shall rest upon the Leiden
      University Medical Center (LUMC) or any of their employees or agents for
      the effects of any product, process or method that may be produced or
      adopted by any part, notwithstanding that the formulation of such
      product, process or method may be based upon information here provided. 
      <br>
      <br>
      <br>
      Please note that all input is logged. We do this to monitor the
      correctness of Mutalyzer by identifying input that causes an error. In
      this way, bugs in the software are automatically detected without the
      user having to file a bug report. We will under no circumstance publish
      the variants in this log, share it with anyone or use it for purposes
      other than the one stated above.
    </div>
  </body>
</html>
