<html>
  <head>
    <title>Index template.</title>
  </head>
  <body>
    <div metal:define-macro="content">
      <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <td>
          <p>
            Welcome to the Mutalyzer web site! 
          </p>
      		<p>
            Mutalyzer aims to support checks of sequence variant nomenclature
            according to the <a
            href="http://www.hgvs.org/mutnomen/">guidelines</a> of the 
            <a href="http://www.hgvs.org">Human Genome Variation Society</a>.
          </p>
      		<p>
            Mutalyzer has different interfaces to collect the information
            necessary for the checks:
          </p>
          <!--
          <p>
            <a href="mutalyzer.php">Mutalyzer's Name Generator</a> is the
            standard interface. This form collects the input data in separate
            fields and will present the output underneath allowing easy
            correction of mistakes.
          </p>
          -->
          <p>
            <a href="check">Mutalyzer's Name Checker</a> takes the complete
            sequence variant description as input and checks whether it is
            correct.
          </p>
          <!--
          <p> 
            <a href="snpconvert.php">Mutalyzer's SNP Converter</a> converts a
            dbSNP identifier into a sequence variant description in HGVS-format.
          </p>
          -->
          <!--
      		<p>
            <a href="batch.php">Mutalyzer's Batch Checker</a> takes a tab
            delimited text file containing the sequence variant descriptions to
            check. 
          </p>
          -->
          <p>
            &nbsp;
          </p>
      		<p>
            <a href="upload">Mutalyzer's GenBank Uploader</a> allows you to
            upload and use your own reference sequences for checks of sequence
            variant descriptions. For this, you will need a text file in GenBank
            format. Alternatively, you may specify the HGNC gene symbol or the
            chromosomal range corresponding with the sequence to be uploaded.
          </p>
      		<p>
            &nbsp;
          </p>
      		<p>
            The Mutalyzer Engine performing the checks is 
            <a href="http://www.python.org">Python</a>-powered. The Python
            Scripting Language was chosen for good readability and therefore
            easy maintenance.
          </p>
      		<p>
            &nbsp;
          </p>
          <p>
            The Mutalyzer project is sponsored by 
            <a href = "http://www.sun.com">SUN Microsystems</a> with server
            hardware within the scope of the Academic Excellence Grant (AEG)
            program (award EDUD-7832-080223-CNE) 
          </p>
      		<p>
            Mutalyzer development is sponsored by
      		  <a href="http://www.gen2phen.org" target="_blank">
              <img src="base/images/gen_2_phen_logo_print.png" 
                   width="110"
                   height="50"
                   align="middle"
                   border="0"
                   alt="Eurogentest"></a>
            and has been supported by
      		  <a href="http://www.eurogentest.org" target="_blank">
              <img src="base/images/Eurogentest.png"
                   width="110"
                   height="50" 
                   align="middle"
                   border="0"
                   alt="Eurogentest"></a>
          </p>
      		<p>
            &quot;Since references to WWW-sites are not yet acknowledged as
            citations, please mention 
            <a href="http://www.ncbi.nlm.nih.gov/entrez/utils/fref.fcgi?PrId=3058&itool=AbstractPlus-def&uid=18000842&db=pubmed&url=http://dx.doi.org/10.1002/humu.20654">
              &quot;Wildeman M et al. (2008). Improving sequence variant
              descriptions in mutation databases and literature using the
              Mutalyzer sequence variation nomenclature checker. Hum Mutat 29,
              6-13&quot;
            </a>
            when referring to these pages.&quot;
          </p>
          <p>
            Mutalyzer retrieves GenBank sequences from the 
            <a href="http://www.ncbi.nlm.nih.gov/">NCBI</a> (
            <a href="http://eutils.ncbi.nlm.nih.gov/About/disclaimer.html">
            Copyright and Disclaimers</a>).
          </p>
        </td>
      </table>
    </div>
  </body>
</html>
