<html>
  <head>
    <link rel="shortcut icon" 
      href="base/images/favicon.ico" 
      type="image/x-icon">
    <link rel="stylesheet" 
      type="text/css" 
      href="base/css/style.css">
    <script 
      type="text/javascript" 
      language="JavaScript" 
      src="base/js/index.js">
    </script>
    <script 
      type="text/javascript" 
      language="javascript" 
      src="base/js/menu.js">
    </script>
    <script 
      type="text/javascript" 
      language="javascript" 
      src="interface.js">
    </script>
    <meta http-equiv="Content-Type" 
      content="text/html; charset=iso-8859-1">
    <title tal:content = "structure string:Mutalyzer ${version}"></title>
  </head>
  <body 
    background="base/images/background.gif" 
    leftmargin="0" 
    topmargin="0" 
    marginwidth="0" 
    marginheight="0"
    onload="initActive(); 
            preloadImages('base/images/bullitlicht1.gif',
                          'base/images/bullitlicht2.gif');"> 
    <!-- Header -->
    <a id="top"></a>
    
    <table width="98%" 
      border="0" 
      cellspacing="0" 
      cellpadding="0">
      <tr>
        <!-- Corner logo -->
        <td rowspan="2" 
          valign="bottom" 
          width="180">
          <a href="index" 
            target="_top"><img 
              src="base/images/mutalyzer_logo_bw.png" width="180" height="112" 
              alt="Rauzy fractal" border="0" hspace="0" vspace="0"></a></td>
        <td valign="top" 
          bgcolor="#FFFFFF" 
          width="20"><img 
            src="base/images/1x1b.gif" height="1" width="20" border="0">
        </td>
        <td align="left" 
          valign="bottom" 
          bgcolor="White" 
          width="98%">
          <!-- Banner -->
          <center>
            <a href="index"><img 
                src="base/images/mutalyzer_logo.png" 
                width="90%" 
                height="90" 
                alt="Rauzy color fractal" 
                border="0"></a>
          </center>
        </td>
      </tr>
  
      <tr>
        <td>
        </td>
        <td>
        <table width = "100%" style = "padding:0 border:0 margin:0">
          <tr>
            <td align="left">
              <a href="javascript:history.back(-1);" 
                 class="hornav">previous page</a>&nbsp;&nbsp;&nbsp;
            </td>
            <td align="right">
              <a href="index" 
                 class="hornav">home</a>&nbsp;&nbsp;&nbsp;
              <a tal:attributes = "href string:mailto:${contactEmail}"
                 class="hornav">contact</a>&nbsp;&nbsp;&nbsp;
              <a href="#bottom" class="hornav">go to bottom</a>&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
        </table>
        </td>
      </tr>
  
      <tr>
        <td colspan="3" 
          bgcolor="#000000"><img 
            src="base/images/1x1b.gif" 
            height="1" 
            border="0"></td>
      </tr>
    </table>
  
    <table width="98%" 
      border="0" 
      cellspacing="0" 
      cellpadding="0">
    <tr>
      <td width="180" valign="top">
    
      <table id="menu" width="180" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" width="20">
          <img src="base/images/1x1b.gif" height="19" border="0">
        </td>
      </tr>
  
      <!-- Home 
      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_">
        </td>
        <td colspan="3">
          <a id="page_" 
            onClick="swapActive('');"
            href="/" 
            onMouseover="navAct('base/images/bullitlicht1.gif', 
                                '');" 
            onMouseout="navDeAct('base/images/bullitdonker.gif', 
                                 '');" 
            class="vertnavsub">Home</a>
        </td>
      </tr>
      -->
    
      <!-- Contact - ->
      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_contact">
        </td> 
        <td colspan="3">
          <a id="page_contact" 
            onClick="swapActive('contact');" 
            href="/#contact" 
            onMouseover="navAct('base/images/bullitlicht1.gif', 
                                'contact');" 
            onMouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'contact');" 
            class="vertnavsub">Contact</a>
        </td>
      </tr>  
  -->
    
      <!-- Current Projects -->
      <!--
      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_projects">
        </td>
        <td colspan="3">
          <a id="page_projects" 
            onClick="swapActive('projects');" 
            href="/#projects" 
            onMouseover="navAct('base/images/bullitlicht1.gif', 
                                'projects');" 
            onMouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'projects');"
            class="vertnavsub">Current Projects</a>
        </td>
      </tr>
      <!- - Current Projects sub: SNP - ->
      <tr style="display:none" id="projects_0">
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_projects_snp">
        </td>
        <td colspan="2">
          <a id="page_projects_snp" 
            onClick="swapActive('projects_snp');" 
            href="/projects/snp/" 
            onMouseover="navAct('base/images/bullitlicht2.gif', 
                                'projects_snp');" 
            onMouseout="navDeAct('base/images/bullitmiddel.gif', 
                                 'projects_snp');" 
            class="vertnavsub">SNP</a>
        </td>
      </tr>
      -->
    
      <!-- Finished Projects -->


      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_index">
        </td>
        <td colspan="3">
          <a id="page_index" 
            onclick="swapActive('index');" 
            href="index" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'index');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'index');" 
            class="vertnavsub">Home</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_nameCheck">
        </td>
        <td colspan="3">
          <a id="page_nameCheck" 
            onclick="swapActive('nameCheck');" 
            href="check" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'nameCheck');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'nameCheck');" 
            class="vertnavsub">Name Checker</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_checkingSyntax">
        </td>
        <td colspan="3">
          <a id="page_checkingSyntax" 
            onclick="swapActive('checkingSyntax');" 
            href="syntaxCheck" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'checkingSyntax');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'checkingSyntax');" 
            class="vertnavsub">Syntax Checker</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_positionConverter">
        </td>
        <td colspan="3">
          <a id="page_positionConverter" 
            onclick="swapActive('positionConverter');" 
            href="positionConverter" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'positionConverter');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'positionConverter');" 
            class="vertnavsub">Position Converter</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_upload">
        </td>
        <td colspan="3">
          <a id="page_upload" 
            onclick="swapActive('upload');" 
            href="upload" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'upload');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'upload');" 
            class="vertnavsub">GenBank uploader</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_snp">
        </td>
        <td colspan="3">
          <a id="page_snp" 
            onclick="swapActive('snp');" 
            href="snp" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'snp');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'snp');" 
            class="vertnavsub">SNP converter</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_webservices">
        </td>
        <td colspan="3">
          <a id="page_webservices" 
            onclick="swapActive('webservices');" 
            href="webservices" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'webservices');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'webservices');" 
            class="vertnavsub">Webservices</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_batch">
        </td>
        <td colspan="3">
          <a id="page_batch" 
            onclick="swapActive('batch');" 
            href="batch" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'batch');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'batch');" 
            class="vertnavsub">Batch Jobs</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_batchNameChecker">
        </td>
        <td colspan="2">
          <a id="page_batchNameChecker" 
            onclick="swapActive('batchNameChecker');" 
            href="batchNameChecker" 
            class="vertnavsub">Name Checker</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_batchSyntaxChecker">
        </td>
        <td colspan="2">
          <a id="page_batchSyntaxChecker" 
            onclick="swapActive('batchSyntaxChecker');" 
            href="batchSyntaxChecker" 
            class="vertnavsub">Syntax Checker</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_batchPositionConverter">
        </td>
        <td colspan="2">
          <a id="page_batchPositionConverter" 
            onclick="swapActive('batchPositionConverter');" 
            href="batchPositionConverter" 
            class="vertnavsub">Position Converter</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_help">
        </td>
        <td colspan="3">
          <a id="page_help" 
            onclick="swapActive('help');" 
            href="help" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'help');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'help');" 
            class="vertnavsub">Help</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_exercise">
        </td>
        <td colspan="3">
          <a id="page_exercise" 
            onclick="swapActive('exercise');" 
            href="exercise" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'exercise');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'exercise');" 
            class="vertnavsub">Exercise</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_disclaimer">
        </td>
        <td colspan="3">
          <a id="page_disclaimer" 
            onclick="swapActive('disclaimer');" 
            href="disclaimer" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'disclaimer');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'disclaimer');" 
            class="vertnavsub">Disclaimer</a>
        </td>
      </tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_bugTrack">
        </td>
        <td colspan="3">
          <a id="page_bugTrack" 
            onclick="swapActive('bugTrack');" 
            href="bugtracker" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'bugTrack');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'bugTrack');" 
            class="vertnavsub">Report bugs</a>
        </td>
      </tr>
      
      <tr><td>&nbsp;</td></tr>

      <tr>
        <td valign="top" width="20">
          <img src="base/images/bullitdonker.gif" id="b_external">
        </td>
        <td colspan="3">
          <a id="page_external" 
            onclick="swapActive('external');" 
            href="external" 
            onmouseover="navAct('base/images/bullitlicht1.gif', 
                                'external');" 
            onmouseout="navDeAct('base/images/bullitdonker.gif', 
                                 'external');" 
            class="vertnavsub">External links</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_external_hgb">
        </td>
        <td colspan="2">
          <a id="page_external_hgb" 
            onclick="swapActive('external_hgb');" 
            href="http://www.genenames.org/guidelines.html" 
            class="vertnavsub">Human Gene Nomenclature</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_external_hgvs">
        </td>
        <td colspan="2">
          <a id="page_external_hgvs" 
            onclick="swapActive('external_hgvs');" 
            href="http://www.hgvs.org/mutnomen/" 
            class="vertnavsub">HGVS variation nomenclature</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_external_hgvsext">
        </td>
        <td colspan="2">
          <a id="page_external_hgvsext" 
            onclick="swapActive('external_hgvsext');" 
            href="downloads/HGVS_nomenclature_extension_proposal.pdf" 
            class="vertnavsub">HGVS nomenclature extension proposal</a>
        </td>
      </tr>

      <tr>
        <td></td>
        <td valign="baseline" width="10">
          <img src="base/images/bullitmiddel.gif" id="b_external_lovd">
        </td>
        <td colspan="2">
          <a id="page_external_lovd" 
            onclick="swapActive('external_lovd');" 
            href="http://www.lovd.nl/" 
            class="vertnavsub">LOVD</a>
        </td>
      </tr>

      <tr>
        <td width="20"><img 
          src="base/images/1x1b.gif" 
          height="10" 
          width="20" 
          border="0">
        </td>
        <td width="12"><img 
          src="base/images/1x1b.gif" 
          height="10" 
          width="10" 
          border="0">
        </td>
        <td valign="top" width="12"><img 
          src="base/images/1x1b.gif" 
          height="10" 
          width="10" 
          border="0">
        </td>
        <td valign="top" width="136"><img 
          src="base/images/1x1b.gif" 
          height="10" 
          width="136" 
          border="0">
        </td>
      </tr>
      </table>
    
    </td>
    <td width="20"><img 
      src="base/images/1x1b.gif" 
      height="1" 
      width="20" 
      border="0">
    </td>
    <td width="98%" valign="top"><br>
    
    <!-- Content -->
    
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
    <tbody onMouseover="resetAll();"><tr>
    <td width="0"></td>
    <td width="0">
  
  
    <center>
      <h2 tal:content = "structure string:Mutalyzer ${version}"></h2>
      HGVS nomenclature version 
      <span tal:content = "nomenclatureVersion"></span>
    </center>
    <p>
  
    <div metal:use-macro = "sitemacros/macros/content"></div>
  
      <!-- Navigation bar -->
      <table border="0" 
        cellspacing="0" 
        cellpadding="0" 
          width="100%" 
        align="center">
      <tr>
        <td colspan="2"><img 
          src="base/images/1x1b.gif" 
          width="1" 
          height="20"  
          border="0">
        </td>
      </tr>
      <tr>
        <td bgcolor="#000000" colspan="3"><img 
          src="base/images/1x1b.gif" 
          width="100%" 
          height="1" 
          border="0"></td>
      </tr>
      <tr>
        <td align="left">
          <a href="javascript:history.back(-1);" 
             class="hornav">previous page</a>
        </td>
        <td align="middle">
          <img src = "base/images/LUMC_24x24.png" align = "middle"></img>
          &nbsp; &copy; 2010 <a href = "http://www.lumc.nl">LUMC</a>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; 
        </td>
        <td align="right"><a href="#top" class="hornav">go to top</a></td>
      </tr>
      <tr>
  <!--
        <td colspan="2" 
          align="center">Last edited by:  with /usr/bin/vim
        </td>
  -->
      </tr>
      <tr>
        <td colspan="2"><img 
          src="base/images/1x1b.gif" 
          width="1" 
          height="10" 
          border="0">
        </td>
      </tr>
      </table>
    </td>
  </tr>
  </table>
  <a id="bottom"></a>
  </body>
</html>
