<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <center><h3>Variant syntax checker</h3></center>
      <div>
      Please insert the mutation name using the 
      <span class = "helper" 
        title = "Human Genome Variation Society standard variant nomenclature">
        <a href = "http://www.hgvs.org/mutnomen">HGVS</a> format</span>:<br>
        &lt;Accession Number&gt;.&lt;version 
        number&gt;(&lt;Gene symbol&gt;):&lt;sequence 
        type&gt;.&lt;mutation&gt;
      </div><br>
      Example: AB026906.1:c.274G&gt;T<br>
      <br>
      <form action = "" method = "post">
        <input 
          type = "text" 
          name = "variant" 
          tal:attributes = "value variant"
          size = "100%"><br>
        <input 
          type="submit" 
          value="Submit">
      </form><br>
      <div tal:condition = "variant">
        <h3>Output:</h3>
        <div tal:condition = "parseError">
          <div tal:repeat = "i messages"
               tal:replace = "structure string:${i}<br>">
          </div>
          <br>
          <h4>Details of the parse error:</h4>
          <pre tal:content = 
            "structure string:${parseError/0}<br>${parseError/1}">
          </pre>
          The &quot;^&quot; indicates the position where the error occurred.
        </div>
        <div tal:condition = "not:parseError">
          The syntax of this variant is OK!
        </div>
      </div>
    </div>
  </body>
</html>
