<html>
  <head>
    <link rel="stylesheet" 
      type="text/css" 
      href="base/css/style.css">
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <center>
        <h3>SNP converter</h3>
      </center>
      Please insert the 
      <a href = "http://www.ncbi.nlm.nih.gov/projects/SNP/">dbSNP</a> rs
      number below. Mutalyzer will retrieve the HGVS description of the SNP
      specified on the reference sequence(s) used by dbSNP.<br>
      <br>
      Example: rs9919552<br>
      <br>
      <form action = "" method = "post">
        <input 
          type = "text" 
          name = "rsId" 
          style = "width:25%"
        ><br>
        <input 
          type="submit" 
          value="Submit"
        >
      </form>
      <div tal:condition = "lastpost">
        <br>
        <h3>Results:</h3><br>
        <div tal:repeat = "i messages"
          tal:replace = "structure string:${i}<br>">
        </div>
        <div tal:replace = "summary"></div><br>
        <br>
        <h4>dbSNP rs ID:</h4>
        <tt tal:content = "lastpost"></tt><br>
        <br>
        <h4>HGVS descriptions:</h4>
        <tt tal:repeat = "i snp" tal:content = "structure string:${i}<br>"></tt>
      </div>
    </div>
  </body>
</html>
