<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
    <center>
      <h3>Webservices page</h3>
    </center>
    <br>
    Most Mutalyzer functionality is available trough a SOAP webservice.
    A <a href="services/?wsdl">WSDL description</a> is available
    for easy generation of client programs in many languages.
    <h3>Example clients</h3>
    The following are some example client programs for the webservice. They
    use the <a href="documentation#op.checkSyntax">checkSyntax</a> method
    to determine if a variant description adheres to the <span class="helper"
      title="Human Genome Variation Society standard variant nomenclature">
    <a href="http://www.hgvs.org/mutnomen">HGVS</a> format</span>.
    <ul>
      <li>Python client using the suds library:
        <a href="download/client-suds.py"><tt>client-suds.py</tt></a>
      <li>Python client using the soappy library:
        <a href="download/client-soappy.py"><tt>client-soappy.py</tt></a>
      <li>Ruby client using the Savon library:
        <a href="download/client-savon.rb"><tt>client-savon.rb</tt></a>
      <li>Mono client in C#:
        <a href="download/client-mono.cs"><tt>client-mono.cs</tt></a>
      <li>PHP client using the PHP5 SOAP extension:
        <a href="download/client-php.php"><tt>client-php.php</tt></a>
    </ul>
    Here is an example that could be used for
      <a href="download/textmining.py">text mining</a> on a
      <a href="downloads/textmining_sample.txt">sample</a> input file.
    <h3>Documentation</h3>
    Also see the <a href = "documentation">documentation</a> page for a full
    description of the webservice.
  </div>
  </body>
</html>
