<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
    <center>
      <h3>Webservices page</h3>
    </center>
    <br>
    The following programs are example scripts for the webservice. In order
    for them to function, you need to have <tt>python-soappy</tt> installed.<br>
    All these scripts use the following 
    <tt><a href = "service.wsdl">service.wsdl</a></tt> file.<br>
    <br>
    The <tt><a href = "sp.py">sp.py</a></tt> test client. This client retrieves
    a list of transcripts, given a chromosome and a genomic position. Of each
    of these transcripts, the corresponding gene name is given.<br>
    <br>
    Also see the <a href = "documentation">documentation</a> page for a full 
    description of the webservice.
  </div>
  </body>
</html>
