<html>
  <head>
    <title></title>
  </head>
  <body>
    <div metal:define-macro="content">
      <script type="text/javascript">
        function setHeight() {
          parent.document.getElementById('docframe').height = 
            document['body'].scrollHeight * 32;
        }
      </script> 
      <center>
        <h3>Webservices documentation</h3>
      </center>
      <iframe 
        id = "docframe"
        src = "documentation" 
        width="100%" 
        frameborder = "0"
        scrolling = "no"
        onload = "setHeight();">
      </iframe>
    </div>
  </body>
</html>
