<div>
    <!-- <nav class="navbar navbar-default" role="navigation"> -->
        <div class="container-fluid">
			<h1 class="page-title">Mutalyzer Visualisation		<img src="/images/COMMIT.jpg" width="128" class="pull-right">
</h1>
		</div>
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mutalyzer Visualisation</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }, html: title"></a>
                    </li>
                </ul>
            </div>
        </div> -->
    <!-- </nav> -->
    
    <div class="container-fluid" data-bind="router: {cacheViews: false}">
    </div>
</div>
