{% extends "base.html" %}

{% set active_page = "about" %}
{% set page_title = "About Mutalyzer" %}

{% block content %}

<p>
Mutalyzer {{ mutalyzer_version }} is designed and developed by Jeroen
F.J. Laros, with the following exceptions:
</p>

<ul>
  <li>The LRG parser, as well as the Batch interfaces are written
      by Gerben R. Stouten.</li>
  <li>The position converter interfaces (web service and WWW) are
      written by Gerard C.P. Schaafsma.</li>
  <li>Current development and maintenance is done by Martijn
      Vermaat.</li>
  <li><a href="https://github.com/mutalyzer/description-extractor">Automatic
  extraction of variant descriptions</a> is implemented by Jonathan Vis.</li>
</ul>

<p>
Furthermore we would like to thank the following people for their
valuable work on previous versions that acted as a guideline for the
development of the current version:
</p>

<ul>
  <li>Ernest van Ophuizen.</li>
  <li>Martin Wildeman.</li>
  <li>Corinne Bareil.</li>
  <li>Gerben R. Stouten.</li>
</ul>

<p>
Specifications are given by Peter E.M. Taschner and Johan T. den
Dunnen.
</p>

<p>
Since references to WWW-sites are not yet acknowledged as citations,
please mention
<a href="http://www.ncbi.nlm.nih.gov/pubmed/18000842">
  &quot;Wildeman M et al. (2008). Improving sequence variant
  descriptions in mutation databases and literature using the
  Mutalyzer sequence variation nomenclature checker. Hum Mutat 29,
  6-13&quot;</a> (<a href="http://dx.doi.org/10.1002/humu.20654">direct
  link</a>) when referring to these pages.
</p>

<h2>Open Source</h2>

<p>
Mutalyzer is Open Source and available under
the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General
Public License</a>. Please <a href="mailto:mutalyzer@humgen.nl">contact the
authors</a> if you want to discuss custom licensing.
</p>

<p>
Contributions to Mutalyzer are very welcome! They can be feature requests, bug
reports, bug fixes, unit tests, documentation updates, or anything els you may
come up with.
</p>

<p>
Development of Mutalyzer happens on
GitHub: <a href="https://github.com/mutalyzer/mutalyzer">github.com/mutalyzer/mutalyzer</a>
</p>

<h2>Sponsors</h2>

<p>
We would like to thank the following organisations for their contribution to
the development of Mutalyzer.
</p>

<table cellspacing="10" class="table">
  <tr>
    <td>
      <a href="http://www.gen2phen.org" target="_blank">
        <img src="{{ url_for('static', filename='images/gen_2_phen_logo_print.png') }}"
             width="110"
             height="50"
             align="middle"
             border="0"
             alt="Gen2Phen"
             title="Gen2Phen"></a>
    </td>
    <td>
      <a href="http://www.gen2phen.org">Gen2Phen project</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.nbic.nl" target="_blank">
        <img src="{{ url_for('static', filename='images/nbic_logo.png') }}"
             width="229"
             height="50"
             align="middle"
             border="0"
             alt="NBIC"
             title="NBIC"></a>
    </td>
    <td>
      <a href="http://www.nbic.nl">Netherlands Bioinformatics Centre</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.eurogentest.org" target="_blank">
        <img src="{{ url_for('static', filename='images/Eurogentest.png') }}"
             width="110"
             height="50"
             align="middle"
             border="0"
             alt="Eurogentest"
             title="Eurogentest"></a>
    </td>
    <td>
      <a href="http://www.eurogentest.org">EuroGentest</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.commit-nl.nl" target="_blank">
        <img src="{{ url_for('static', filename='images/commit_logo.png') }}"
             width="122"
             height="50"
             align="middle"
             border="0"
             alt="Dutch national program COMMIT"
             title="Dutch national program COMMIT"></a>
    </td>
    <td>
      <a href="http://www.commit-nl.nl">Dutch national program COMMIT</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://wearelandscape.nl" target="_blank">
        <img src="{{ url_for('static', filename='images/landscape_logo.png') }}"
             height="50"
             align="middle"
             border="0"
             alt="Landscape - Increasing Data Impact"
             title="Landscape - Increasing Data Impact"></a>
    </td>
    <td>
      <a href="http://wearelandscape.nl">Landscape - Increasing Data Impact</a>
    </td>
  </tr>
</table>

<h2>Counters</h2>

<p>
We keep simple counters for the use of the various Mutalyzer services, broken
down by interface.
</p>

<p>
Note that not all counters were started at the same time, so numbers can not
always be compared directly.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan="2" class="text-middle">Service</th>
      <th colspan="3" class="text-center">Interface</th>
      <th rowspan="2" class="text-middle text-right">Total (all interfaces)</th>
    </tr>
    <tr>
      <th class="text-right">Website</th>
      <th class="text-right"><a href="{{ url_for('.webservices') }}">Webservice</a></th>
      <th class="text-right"><a href="{{ url_for('.batch_jobs') }}">Batch job</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{ url_for('.syntax_checker') }}">Syntax checker</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0) +
                                               counter_totals['syntax-checker/webservice']|d(0) +
                                               counter_totals['syntax-checker/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.name_checker') }}">Name checker</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/website']|d(0) +
                                               counter_totals['name-checker/webservice']|d(0) +
                                               counter_totals['name-checker/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.description_extractor') }}">Description extractor</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['description-extractor/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['description-extractor/webservice']|d(0)) }}</td>
      <td class="text-right">N/A</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['description-extractor/website']|d(0) +
                                               counter_totals['description-extractor/webservice']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.position_converter') }}">Position converter</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/website']|d(0) +
                                               counter_totals['position-converter/webservice']|d(0) +
                                               counter_totals['position-converter/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.snp_converter') }}">SNP converter</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/website']|d(0) +
                                               counter_totals['snp-converter/webservice']|d(0) +
                                               counter_totals['snp-converter/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.batch_jobs') }}">Batch jobs</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['batch-job/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['batch-job/webservice']|d(0)) }}</td>
      <td class="text-right">N/A</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['batch-job/website']|d(0) +
                                               counter_totals['batch-job/webservice']|d(0)) }}</td>
    </tr>
    <tr>
      <td>Total (excluding batch jobs)</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0) +
                                               counter_totals['name-checker/website']|d(0) +
                                               counter_totals['position-converter/website']|d(0) +
                                               counter_totals['snp-converter/website']|d(0) +
                                               counter_totals['batch-job/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/webservice']|d(0) +
                                               counter_totals['name-checker/webservice']|d(0) +
                                               counter_totals['position-converter/webservice']|d(0) +
                                               counter_totals['snp-converter/webservice']|d(0) +
                                               counter_totals['batch-job/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/batch']|d(0) +
                                               counter_totals['name-checker/batch']|d(0) +
                                               counter_totals['position-converter/batch']|d(0) +
                                               counter_totals['snp-converter/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0) +
                                               counter_totals['syntax-checker/webservice']|d(0) +
                                               counter_totals['syntax-checker/batch']|d(0) +
                                               counter_totals['name-checker/website']|d(0) +
                                               counter_totals['name-checker/webservice']|d(0) +
                                               counter_totals['name-checker/batch']|d(0) +
                                               counter_totals['position-converter/website']|d(0) +
                                               counter_totals['position-converter/webservice']|d(0) +
                                               counter_totals['position-converter/batch']|d(0) +
                                               counter_totals['snp-converter/website']|d(0) +
                                               counter_totals['snp-converter/webservice']|d(0) +
                                               counter_totals['snp-converter/batch']|d(0) +
                                               counter_totals['batch-job/website']|d(0) +
                                               counter_totals['batch-job/webservice']|d(0)) }}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
