{% extends "base.html" %}

{% set active_page = "about" %}
{% set page_title = "About Mutalyzer" %}

{% block content %}

<h2>Contact</h2>

<p>
The <a href="https://groups.google.com/forum/#!forum/mutalyzer">Mutalyzer
mailing list</a> is a general discussion list for Mutalyzer. Messages can be
posted to this list via the Google Groups interface or by sending an email
to <a href="mutalyzer@googlegroups.com">mutalyzer@googlegroups.com</a>.
</p>

<p>
Bugs and concrete feature requests may also be filed directly in
the <a href="https://github.com/mutalyzer/mutalyzer/issues">GitHub issue
tracker</a>.
</p>

<p>
If you are a regular user of the Mutalyzer webservices or are maintaining your
own Mutalyzer installation, consider subscribing to
the <a href="https://groups.google.com/forum/#!forum/mutalyzer-announce">Mutalyzer
Announcements mailing list</a>. This is a low-volume mailing list for
announcing updates to Mutalyzer and its infrastructure.
</p>

<p>
If you have a private question or a security related issue to discuss, please
use the private
address <a href="info@mutalyzer.nl">info@mutalyzer.nl</a>.
</p>

<h2>Open Source</h2>

<p>
Mutalyzer is Open Source and available under
the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General
Public License</a>. Please <a href="mailto:info@mutalyzer.nl">contact the
authors</a> if you want to discuss custom licensing.
</p>

<p>
Contributions to Mutalyzer are very welcome! They can be feature requests, bug
reports, bug fixes, unit tests, documentation updates, or anything else you may
come up with.
</p>

<p>
Development of Mutalyzer happens on
GitHub: <a href="https://github.com/mutalyzer/mutalyzer">github.com/mutalyzer/mutalyzer</a>
</p>

<p>
If you're interested in running your own Mutalyzer installation, please have a
look at
our <a href="https://github.com/mutalyzer/ansible-role-mutalyzer">Mutalyzer
Ansible role</a> for a completely automated deployment.
</p>

<h2>Development</h2>

<p>
Mutalyzer {{ mutalyzer_version }} is designed and developed by Jeroen
F.J. Laros, with the following exceptions:
</p>

<ul>
  <li>The LRG parser, as well as the Batch interfaces are written
      by Gerben R. Stouten.</li>
  <li>The position converter interfaces (web service and WWW) are
      written by Gerard C.P. Schaafsma.</li>
  <li>Current development and maintenance is done by Martijn
      Vermaat.</li>
  <li><a href="https://github.com/mutalyzer/description-extractor">Automatic
  extraction of variant descriptions</a> is implemented by Jonathan Vis.</li>
</ul>

<p>
Furthermore we would like to thank the following people for their
valuable work on previous versions that acted as a guideline for the
development of the current version:
</p>

<ul>
  <li>Ernest van Ophuizen.</li>
  <li>Martin Wildeman.</li>
  <li>Corinne Bareil.</li>
  <li>Gerben R. Stouten.</li>
</ul>

<p>
Specifications are given by Peter E.M. Taschner and Johan T. den
Dunnen.
</p>

<p>
Please mention

<a href="https://pubmed.ncbi.nlm.nih.gov/33538839/">
  &quot;Lefter M et al. (2021). Mutalyzer 2: Next Generation HGVS
  Nomenclature Checker. Bioinformatics, btab051&quot;</a>
  (<a href="https://doi.org/10.1093/bioinformatics/btab051">direct
  link</a>) when referring to these pages.
</p>

<p>
The <a href="{{ url_for('.description_extractor') }}">Description Extractor</a> is
described separately
in <a href="https://www.ncbi.nlm.nih.gov/pubmed/26231427">&quot;Vis JK et
    al. (2015). An efficient algorithm for the extraction of HGVS variant
    descriptions from sequences. Bioinformatics, 2015 Dec
    1;31(23):3751-7&quot;</a>
(<a href="http://bioinformatics.oxfordjournals.org/content/31/23/3751.long">direct
    link</a>).
</p>

<p>
We thank the following organisations for their contribution to the development
of Mutalyzer.
</p>

<div class="thanks">
  <a href="https://web.archive.org/web/20170630010932/http://gen2phen.org/"><img src="{{ url_for('static',
                                              filename='images/gen_2_phen_logo_print.png')
                                              }}"
                                         width="110"
                                         height="50"
                                         alt="Gen2Phen"
                                         title="Gen2Phen"></a>
  <a href="http://www.nbic.nl"><img src="{{ url_for('static',
                                         filename='images/nbic_logo.png') }}"
                                    width="229"
                                    height="50"
                                    border="0"
                                    alt="Netherlands Bioinformatics Centre"
                                    title="Netherlands Bioinformatics Centre"></a>
    <a href="http://www.eurogentest.org"><img src="{{ url_for('static',
                                                 filename='images/Eurogentest.png')
                                                 }}"
                                              width="110"
                                              height="50"
                                              border="0"
                                              alt="EuroGentest"
                                              title="EuroGentest"></a>
    <a href="http://www.commit-nl.nl"><img src="{{ url_for('static',
                                                filename='images/commit_logo.png')
                                                }}"
                                           width="122"
                                           height="50"
                                           border="0"
                                           alt="Dutch national program COMMIT"
                                           title="Dutch national program COMMIT"></a>
    <a href="http://wearelandscape.nl"><img src="{{ url_for('static',
                                                 filename='images/landscape_logo.png')
                                                 }}"
                                            width="187"
                                            height="50"
                                            border="0"
                                            alt="Landscape - Increasing Data Impact"
                                            title="Landscape - Increasing Data
                                                   Impact"></a>
  <a href="http://www.sun.com"><img src="{{ url_for('static',
                                              filename='images/sun_logo.png')
                                              }}"
                                         width="116"
                                         height="50"
                                         alt="SUN Microsystems"
                                         title="SUN Microsystems"></a>
</div>

<h2 id="recommended-by">Recommended by</h2>

<div>
  <a href="http://www.humanvariomeproject.org/solutions/recommended-systems.html">
      <img src="{{ url_for('static',
                    filename='images/hvp_recommended_system.png')
                }}"
            width="209"
            height="140"
            alt="HVP"
            title="HVP"></a>
  <a href="http://www.irdirc.org/activities/irdirc-recognized-resources/">
      <img src="{{ url_for('static',
                    filename='images/irdirc_recognized_resource.jpg')
                }}"
           width="300"
           height="166"
           alt="IRDiRC"
           title="IRDiRC"></a>
</div>


<h2>Counters</h2>

<p>
We keep simple counters for the use of the various Mutalyzer services, broken
down by interface.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan="2" class="text-middle">Service</th>
      <th colspan="3" class="text-center">Interface</th>
      <th rowspan="2" class="text-middle text-right">Total (all interfaces)</th>
    </tr>
    <tr>
      <th class="text-right">Website</th>
      <th class="text-right"><a href="{{ url_for('.webservices') }}">Webservice</a></th>
      <th class="text-right"><a href="{{ url_for('.batch_jobs') }}">Batch job</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{ url_for('.syntax_checker') }}">Syntax checker</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0) +
                                               counter_totals['syntax-checker/webservice']|d(0) +
                                               counter_totals['syntax-checker/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.name_checker') }}">Name checker</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['name-checker/website']|d(0) +
                                               counter_totals['name-checker/webservice']|d(0) +
                                               counter_totals['name-checker/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.description_extractor') }}">Description extractor</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['description-extractor/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['description-extractor/webservice']|d(0)) }}</td>
      <td class="text-right">N/A</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['description-extractor/website']|d(0) +
                                               counter_totals['description-extractor/webservice']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.position_converter') }}">Position converter</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['position-converter/website']|d(0) +
                                               counter_totals['position-converter/webservice']|d(0) +
                                               counter_totals['position-converter/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.snp_converter') }}">SNP converter</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['snp-converter/website']|d(0) +
                                               counter_totals['snp-converter/webservice']|d(0) +
                                               counter_totals['snp-converter/batch']|d(0)) }}</td>
    </tr>
    <tr>
      <td><a href="{{ url_for('.batch_jobs') }}">Batch jobs</a></td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['batch-job/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['batch-job/webservice']|d(0)) }}</td>
      <td class="text-right">N/A</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['batch-job/website']|d(0) +
                                               counter_totals['batch-job/webservice']|d(0)) }}</td>
    </tr>
    <tr>
      <td>Total (all services)</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0) +
                                               counter_totals['name-checker/website']|d(0) +
                                               counter_totals['description-extractor/website']|d(0) +
                                               counter_totals['position-converter/website']|d(0) +
                                               counter_totals['snp-converter/website']|d(0) +
                                               counter_totals['batch-job/website']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/webservice']|d(0) +
                                               counter_totals['name-checker/webservice']|d(0) +
                                               counter_totals['description-extractor/webservice']|d(0) +
                                               counter_totals['position-converter/webservice']|d(0) +
                                               counter_totals['snp-converter/webservice']|d(0) +
                                               counter_totals['batch-job/webservice']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/batch']|d(0) +
                                               counter_totals['name-checker/batch']|d(0) +
                                               counter_totals['position-converter/batch']|d(0) +
                                               counter_totals['snp-converter/batch']|d(0)) }}</td>
      <td class="text-right">{{ '{0:,}'.format(counter_totals['syntax-checker/website']|d(0) +
                                               counter_totals['syntax-checker/webservice']|d(0) +
                                               counter_totals['syntax-checker/batch']|d(0) +
                                               counter_totals['name-checker/website']|d(0) +
                                               counter_totals['name-checker/webservice']|d(0) +
                                               counter_totals['name-checker/batch']|d(0) +
                                               counter_totals['description-extractor/website']|d(0) +
                                               counter_totals['description-extractor/webservice']|d(0) +
                                               counter_totals['position-converter/website']|d(0) +
                                               counter_totals['position-converter/webservice']|d(0) +
                                               counter_totals['position-converter/batch']|d(0) +
                                               counter_totals['snp-converter/website']|d(0) +
                                               counter_totals['snp-converter/webservice']|d(0) +
                                               counter_totals['snp-converter/batch']|d(0) +
                                               counter_totals['batch-job/website']|d(0) +
                                               counter_totals['batch-job/webservice']|d(0)) }}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
