<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mutalyzer {{ mutalyzer_version }} &mdash; {{ page_title }}</title>

    <meta charset="utf-8" />
    <meta name="author" content="Mutalyzer contributors" />
    <meta name="keywords" content="LUMC, Mutalyzer, HGVS, DNA, RNA, Proteins, Variants, Checker, Bioinformatics, Human Genetics, Genomics" />
    <meta name="description" content="Mutalyzer is an HGVS variant nomenclature checker." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mailcheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interface.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generator.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <header id="site-menu">
      <h1><a id="branding" href="{{ url_for('website.homepage') }}"><span>Mutalyzer</span></a></h1>
      <nav id="pages-box">
        <h2>Menu: </h2>
        <a class="page-link" href="{{ url_for('website.name_checker') }}">HGVS check</a>
        <a class="page-link" href="{{ url_for('website.homepage') }}#tools">Tools</a>
        <a class="page-link" href="/software/guile/learn/">Documentation</a>
        <a class="page-link  page-link-active" href="{{ url_for('website.about') }}">About</a>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer class="site-footer noise-bg">
      <div>
        <h2>About this website</h2>
        <p>This website is powered by GNU Guile and the <a href="http://git.savannah.gnu.org/cgit/guile/guile-web.git">source code</a> is under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL</a>.</p>
        <p>Please use the <a href="https://lists.gnu.org/mailman/listinfo/guile-user/">mailing list</a> or the <a href="http://webchat.freenode.net/?nick=guile-guest.&amp;channels=%23guile">#guile</a> channel on Freenode for more information about GNU Guile and this website.</p>
      </div>
      <section>
        <h3>Guile</h3>
        <ul>
          <li><a href="/software/guile/">Home</a></li>
          <li><a href="/software/guile/download/">Download</a></li>
          <li><a href="/software/guile/learn/">Learn</a></li>
          <li><a href="/software/guile/libraries/">Libraries</a></li>
          <li><a href="https://savannah.gnu.org/news/?group=guile">News</a></li>
          <li><a href="/software/guile/community/">Community</a></li>
          <li><a href="/software/guile/contribute/">Contribute</a></li>
        </ul>
      </section>
      <section>
        <h3>Learn</h3>
        <ul>
          <li><a href="/software/guile/learn/#tutorials">Tutorials</a></li>
          <li><a href="/software/guile/learn/#manuals">Reference manuals</a></li>
          <li><a href="/software/guile/learn/#scheme-resources">Scheme resources</a></li>
          <li><a href="/software/guile/learn/#bibliography">Suggested bibliography</a></li>
          <li><a href="/software/guile/docs/faq/guile-faq.html">FAQ</a></li>
        </ul>
      </section>
      <section>
        <h3>Libraries</h3>
        <ul>
          <li><a href="/software/guile/libraries/#core">Core</a></li>
          <li><a href="/software/guile/libraries/#gui">GUI</a></li>
          <li><a href="/software/guile/libraries/#file-formats">File formats</a></li>
          <li><a href="/software/guile/libraries/#networking">Networking</a></li>
          <li><a href="/software/guile/libraries/#tools">Tools</a></li>
          <li><a href="/software/guile/libraries/#apps">Applications</a></li>
        </ul>
      </section>
      <section>
        <h3>Contribute</h3>
        <ul>
          <li><a href="/software/guile/contribute/">Project summary</a></li>
          <li><a href="/software/guile/contribute/#bugs">Report bugs</a></li>
          <li><a href="https://savannah.gnu.org/git/?group=guile">Source code</a></li>
        </ul>
      </section>
    </footer>
    {% if piwik %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ piwik_base_url }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ piwik_site_id }}]);
        var d=document, g=d.createElement('script'),
      s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
      s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript>
      <p><img src="{{ piwik_base_url }}/piwik.php?idsite={{ piwik_site_id }}" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Piwik Code -->
    {% endif %}
  </body>
</html>
