{% extends "base.html" %}

{% if job_type %}
  {% set active_page = "batch-" + job_type %}
{% else %}
  {% set active_page = "batch-jobs" %}
{% endif %}

{% set page_title = "Batch Job Interface" %}

{% block content %}

<form class="form" action="{{ url_for('.batch_jobs_submit') }}" method="post" enctype="multipart/form-data">
  <!-- BatchType -->
  <div class="form-group">
    <label>Batch job type</label>
    <div class="radio">
      <label><input onchange="return changeBatch(this);" type="radio" name="job_type" value="name-checker"{% if job_type == "name-checker" %} checked{% endif %} />Name Checker</label>
    </div>
    <div class="radio">
      <label><input onchange="return changeBatch(this);" type="radio" name="job_type" value="syntax-checker"{% if job_type == "syntax-checker" %} checked{% endif %} />Syntax Checker</label>
    </div>
    <div class="radio">
      <label><input onchange="return changeBatch(this);" type="radio" name="job_type" value="position-converter"{% if job_type == "position-converter" %} checked{% endif %} />Position Converter</label>
    </div>
    <div class="radio">
      <label><input onchange="return changeBatch(this);" type="radio" name="job_type" value="snp-converter"{% if job_type == "snp-converter" %} checked{% endif %} />SNP Converter</label>
    </div>

    <div id="assembly_name_or_alias" style="display:none" class="form-group">
      <label for="assembly_name_or_alias">Assembly</label>
      <select name="assembly_name_or_alias" id="assembly_name_or_alias" class="form-control">
        {% for assembly in assemblies %}
          <option value="{{ assembly.name }}"{% if assembly_name_or_alias in (assembly.name, assembly.alias) %} selected="selected"{% endif %}>{{ assembly.taxonomy_common_name }} &mdash; {{ assembly.name }}{% if assembly.alias %} ({{ assembly.alias }}){% endif %}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" id="email" type="email" class="form-control" placeholder="Email address (notification will be sent here)" required value="{{ email }}">
    </div>

    <div class="form-group">
      <label for="file">File</label>
      <input type="file" name="file" id="file">
    </div>
  </div>

  <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit batch job">
      <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/BatchCheckers" target="new" class="btn btn-default pull-right">Help</a>
      <a href="#" onclick="toggle_visibility('help');" class="btn btn-default pull-right">File format help <span class="caret"></span></a>
  </div>
</form>

<div id="help" style="display:none">
  <hr>
  <p>The mutalyzer batch checker accepts the following file formats:</p>
  <ul>
    <li>Tab delimited text file / CSV file</li>
    <li>Microsoft Excel file</li>
    <li>OpenOffice ODS file</li>
  </ul>
  <p>
    The maximum file size is {{ max_file_size }} megabytes, and the maximum
    length per entry (variant description) is 200 characters.
  </p>

  <p>We accept two types of input files, you can download examples below.</p>

  <h4>New Style</h4>
  <p>This file format has no header-row. Each row consists of one or more tab delimited fields, where every field contains a single variant description (or dbSNP rs number in case of the SNP Converter). Note that all rows must have the same number of fields.</p>
  <table class="table">
    <tr><td>AB026906.1:c.274G&gt;T</td></tr>
    <tr><td>AL449423.14(CDKN2A_v002):c.5_400del</td></tr>
  </table>

  <p><a href="{{ url_for('.downloads', filename='batchtestnew.txt') }}">Download new style example file</a></p>

  <h4>Old Style</h4>
  <p><strong>Deprecation warning:</strong> Please don't use this format, it
  is deprecated and will not be supported in the future.</p>
  <p>This file format has a header-row, which consists of
    three tab delimited fields. In each following row the
    corressponding data is also tab delimited.</p>
  <table class="table">
    <thead>
      <tr>
        <th>AccNo</th>
        <th>Genesymbol</th>
        <th>Mutation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AB026906.1</td><td>SDHD</td><td>g.7872G>T</td>
      </tr>
    </tbody>
  </table>

  <p><a href="{{ url_for('.downloads', filename='batchtestold.txt') }}">Download old style example file</a></p>

  <h4>Output Format</h4>

  <p>
    The output of a Mutalyzer Batch run is a tab delimited CSV file,
    which has a header-row to clarify the results. We recommend opening
    the file in a spreadsheet program, such as OpenOffice Calc or
    Microsoft Excel.
  </p>
  <p>Note that empty lines are removed from the batch input file.</p>
</div>{# id="help" #}

<script language="javascript">
oldload = window.onload
initpage = function() {
  if (oldload)
    oldload();
  onloadBatch();
}
window.onload = initpage;
</script>

{% if messages %}
  <hr>
  {% for m in messages %}
    {% if m.class == "error" %}
      <p class="alert alert-danger" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "warning" %}
      <p class="alert alert-warning" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "information" %}
      <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "debug" %}
      <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock content %}
