{% extends "base.html" %}

{% set active_page = "description-extractor" %}
{% set page_title = "Variant Description Extractor" %}

{% block content %}

<p class="alert alert-warning">Note that this is an experimental service.</p

<p>
Extract the HGVS variant description from a reference sequence and an observed
sequence. For now, we require the user to fill in two sequences. After the
testing phase, we plan to use the underlying algorithm for:
</p>

<ul>
  <li>
    Disambiguation in the name checker. This will enable full support for complex variants.
  </li>
  <li>
    Comparison of two reference sequences. Useful for migrating a variant description to an other reference sequence.
  </li>
  <li>
    Implementation of a Reference Sequence Editor.
  </li>
</ul>

<p>
Please supply a reference sequence and an observed sequence.
</p>

<form action="{{ url_for('.description_extractor') }}" method="get" class="form">
  <div class="form-group">
    <label for="reference_sequence">Reference sequence</label>
    <input type="text" name="reference_sequence" value="{{ reference_sequence }}" class="form-control form-pre example-target" placeholder="Reference sequence">
    <p>Example: <code class="example-input">ATGATTTGATCAGATACATGTGATACCGGTAGTTAGGACAA</code></p>
  </div>
  <div class="form-group">
    <label for="variant_sequence">Observed sequence</label>
    <input type="text" name="variant_sequence" value="{{ variant_sequence }}" class="form-control form-pre example-target-2" placeholder="Observed sequence">
    <p>Example: <code class="example-input-2">ATGATTTGATCAGATACATGTGATACCGGTAGTTAGGACAA</code></p>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Extract variant description">
    <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/DescriptionExtractor" target="new" class="btn btn-default pull-right">Help</a>
  </div>
</form>

{% if description %}
  <hr>
  {% for m in messages %}
    {% if m.class == "error" %}
      <p class="alert alert-danger" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "warning" %}
      <p class="alert warning" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% endif %}
  {% endfor %}

  {% if summary == "0 Errors, 0 Warnings." %}
    <p class="alert alert-success summary">{{ summary }}</p>
  {% else %}
    <p>{{summary}}</p>
  {% endif %}

  {% if not errors %}
    <hr>

    <h4>Genomic description</h4>
    <p><code>g.{{ description }}</code></p>

    <h4>Overview of the raw variants</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Type</th>
          <th>Deleted</th>
          <th>Inserted</th>
          <th>Shift</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for raw_var in raw_vars %}
          <tr>
            <td>{{ raw_var.start }}</td>
            <td>{{ raw_var.end }}</td>
            <td>{{ raw_var.type }}</td>
            <td>{{ raw_var.deleted }}</td>
            <td>{{ raw_var.inserted }}</td>
            <td>{{ raw_var.shift }}</td>
            <td>{{ raw_var.hgvs }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}{# not errors #}
{% endif %}{# description #}

{% endblock content %}
