{% extends "base.html" %}

{% set active_page = "homepage" %}
{% set page_title = "Welcome to the Mutalyzer website" %}

{% block content %}

<p>
The aim of this program suite is to support checks
of <a href="http://varnomen.hgvs.org/">Sequence Variant Nomenclature</a>
according to the guidelines of the <a href="http://www.hgvs.org">Human Genome
Variation Society</a>.
</p>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail clickbox thumb-home thumb-large">
            <div class="caption">
                <h3><a href="{{ url_for('.name_checker') }}">Name Checker</a></h3>
                <p>The Name Checker takes the complete sequence variant description as input and checks whether it is correct.</p>
                <p>Examples:
                  <code class="example-input" data-for="description">AB026906.1:c.40_42del</code>,
                  <code class="example-input" data-for="description">NG_012337.1(SDHD_v001):c.274G&gt;T</code>,
                  <code class="example-input" data-for="description">LRG_24t1:c.159dup</code>
                </p>

                <!-- <a href="{{ url_for('.name_checker') }}" class="btn btn-default btn-small btn-primary">Try
                this</a> -->

                <form class="form" action="{{ url_for('.name_checker') }}" method="get">
                    <div class="input-group">
                        <input class="form-control form-control-small form-pre" type="text" name="description" id="description" value="{{ description }}" placeholder="Variant description using HGVS format" autofocus>
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary pull-right" value="Check variant description">
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-1">
            <div class="caption">
                <h3><a href="{{ url_for('.syntax_checker') }}">Syntax Checker</a></h3>
                <p>Takes the complete sequence variant description as input and checks whether the syntax is correct.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-2">
            <div class="caption">
                <h3><a href="{{ url_for('.position_converter') }}">Position Converter</a></h3>
                <p>Converts chromosomal positions to transcript orientated positions and vice versa.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-3">
            <div class="caption">
                <h3><a href="{{ url_for('.snp_converter') }}">SNP Converter</a></h3>
                <p>Allows you to convert a dbSNP rsId to HGVS notation.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-4">
            <div class="caption">
                <h3><a href="{{ url_for('.name_generator') }}">Name Generator</a></h3>
                <p>A user friendly interface that helps to make a valid HGVS variant description.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-5">
            <div class="caption">
                <h3><a href="{{ url_for('.description_extractor') }}">Description Extractor</a></h3>
                <p>Allows you to generate the HGVS variant description from a reference sequence and an observed sequence.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-6">
            <div class="caption">
                <h3><a href="{{ url_for('.reference_loader') }}">Reference File Loader</a></h3>
                <p>Allows you to load and use your own reference sequence.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-7">
            <div class="caption">
                <h3><a href="{{ url_for('.batch_jobs') }}">Batch Checkers</a></h3>
                <p>Interfaces accepting a list of inputs that can be used for large quantities of checks.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail thumb-home clickbox color-8">
            <div class="caption">
                <h3><a href="{{ url_for('.webservices') }}">Web Services</a></h3>
                <p>Provides instructions for the web services.</p>
            </div>
        </div>
    </div>
</div>


<!--
<ul>


</ul> -->

<p>
GenBank sequences are retrieved
via <a href="http://www.ncbi.nlm.nih.gov/">NCBI Entrez</a>
(<a href="https://www.ncbi.nlm.nih.gov/home/about/policies.shtml">Data Usage
Policies and Disclaimers</a>).
</p>

<p>
LRG sequences are retrieved from
the <a href="http://www.lrg-sequence.org/">Locus Reference Genomic</a> FTP
site (<a href="http://www.ebi.ac.uk/about/terms-of-use">EMBL-EBI Terms of
Use</a>).
</p>

<p>
The <a href="http://www.ncbi.nlm.nih.gov/mapview/">NCBI Map Viewer</a> data
and <a href="ftp://ftp.ebi.ac.uk/pub/databases/lrgex/">EBI LRG transcripts map
files</a> are the primary sources for transcript mappings, with a selection of
transcript mappings from
the <a href="https://genome.ucsc.edu/goldenPath/help/mysql.html">UCSC Genome
Browser MySQL database</a> manually added on a per-gene basis.
</p>

<script>
    $(document).on('click', ".clickbox", function(e){
         window.location=$(this).find("a").attr("href");
         e.preventDefault();
         e.stopPropagation();
    });
    $(document).on('click', ".clickbox input", function(e){
         e.stopPropagation();
    });
</script>

{% endblock content %}
