{% extends "base.html" %}

{% block content %}

<section id="featured-box" class="info-box text-left">
  <div>
    <h2>Mutalyzer is an HGVS variant nomenclature checker</h2>
    <img src="{{ url_for('static', filename='images/kid-programming-a-robot.png') }}" alt="" />
    <p>The aim of this program suite is to support checks of sequence variant nomenclature according to the <a href="http://www.hgvs.org/mutnomen/">guidelines</a> of the <a href="http://www.hgvs.org">Human Genome Variation Society</a>.</p>
    <form action="{{ url_for('.name_checker') }}" method="get">
      <input type="text" class="text" name="description" id="description" value="{{ description }}" placeholder="Variant in HGVS format">
      <p class="examples">Examples: <a class="example-input" data-for="description">AB026906.1:c.274G&gt;T</a>, <a class="example-input" data-for="description">NM_012337.1:c.274Gdel</a>, <a class="example-input" data-for="description">NG_012337.1(SDHD_v001):c.274G&gt;T</a></p>
      <input type="submit" class="btn btn-primary" value="Check variant">
    </form>
  </div>
</section>

<section id="featured-tools" class="free-flow-box gears-bg">
  <a id="tools"></a>
  <h2>Mutalyzer tools</h2>
  <p>The Mutalyzer suite consists of several tools designed to assist you bladiebla.</p>
  <a class="tool" href="{{ url_for('website.position_converter') }}">
    <pre class="code">some picture</pre>
    <h3>Variant liftover</h3>
    <p>Converts chromosomal positions to transcript orientated positions and vice versa.</p>
  </a>
  <a class="tool" href="{{ url_for('website.snp_converter') }}">
    <pre class="code">another picture</pre>
    <h3>dbSNP to HGVS</h3>
    <p>Allows you to convert a dbSNP rsId to HGVS notation.</p>
  </a>
  <a class="tool" href="{{ url_for('website.description_extractor') }}">
    <pre class="code">an image</pre>
    <h3>Generate HGVS</h3>
    <p>Allows you to generate the HGVS variant description from a reference sequence and an observed sequence.</p>
  </a>
</section>

<section class="info-box text-right">
  <div>
    <h2>Webservices</h2>
    <img src="{{ url_for('static', filename='images/kid-robot-and-extension-legs.png') }}" alt="" />
    <p>Most Mutalyzer functionality is programmatically available through two interfaces: a SOAP webservice and an HTTP/RPC+JSON webservice.</p>
    <p>And then a little bit more text. We should really have some more text in this box, or choose a smaller picture next to it. Otherwise the next box will move over the picture. I think we are ok with just one more sentence here. But this is a bit fragile, we should check this over different resolutions.</p>
  </div>
</section>

<section class="info-box text-left">
  <div>
    <h2>Batch jobs</h2>
    <img src="{{ url_for('static', filename='images/robots-and-extension-legs-1.png') }}" alt="" />
    <p>If you want to run a tool on a large set of inputs, you can use the batch interfaces. Bladiebla some more text here and it should be at least two or three sentences. This makes it three.</p>
    <p>And then a little bit more text. We should really have some more text in this box, or choose a smaller picture next to it. Otherwise the next box will move over the picture. I think we are ok with just one more sentence here. But this is a bit fragile, we should check this over different resolutions.</p>
  </div>
</section>

{% endblock content %}
