{% if not standalone %}
    {% extends "base.html" %}
{% endif -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic"
          rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.min.js')
      }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js')
      }}"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>Mutalyzer {{ mutalyzer_version }} &mdash; {{ page_title }}</title>
  </head>

<body>

<h1>Name Checker</h1>

{% set active_page = "name-checker" %}
{% set page_title = "Name Checker" %}

<div class="container-fluid" >

{% block content %}

{% if not standalone %}
  <p>
  Please insert the variant description using
  the <a href="http://www.hgvs.org/mutnomen" title="Human Genome Variation
  Society standard variant nomenclature" alt="Human Genome Variation Society
  standard variant nomenclature">HGVS</a> format:
  </p>

  <pre>&lt;accession number&gt;.&lt;version number&gt;(&lt;gene symbol&gt;):&lt;sequence type&gt;.&lt;variant description&gt;</pre>

  <form class="form" action="{{ url_for('.name_checker') }}" method="get">
    <div class="form-group">
      <label for="description">Variant description</label>
      <input class="form-control form-pre" type="text"
             name="description" id="description" value="{{ description }}"
             placeholder="Variant description using HGVS format">
      <p>Example: <code class="example-input" data-for="description">AB026906.1:c.274G&gt;T</code></p>
    </div>

    <div class="form-group button-group">
      <input type="submit" class="btn btn-primary" value="Check variant description">
      <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/NameChecker" target="new" class="btn btn-default pull-right">Help</a>
    </div>
  </form>

  {% if description %}
    <hr>
  {% endif %}
{% endif %}{# not standalone #}

{% if description %}
  {% if parse_error %}
    <div class="alert alert-danger">
      <h4>Parse error</h4>
      <pre>{{ parse_error[0] }}<br>{{ parse_error[1] }}</pre>
      <p>The &quot;^&quot; indicates the position where the error occurred.</p>
    </div>
  {% endif %}

  {% if messages %}
    {% for m in messages %}
      {% if m.class == "error" %}
        <p class="alert alert-danger" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "warning" %}
        <p class="alert alert-warning" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "information" %}
        <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "debug" %}
        <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if summary == "0 Errors, 0 Warnings." %}
      <p class="alert alert-success summary">{{ summary }}</p>
  {% else %}
      <p>{{summary}}</p>
  {% endif %}

  {% if not parse_error %}
    <hr>

    <div class="row">
      <div class="col-md-8 name-checker-left-column">
        {% if visualisation %}
          <h4>Overview of the raw variants</h4>
          {% for i in visualisation %}
            <p>Raw variant {{ loop.index }}: {{ i[0] }}</p>
            <pre>{{ i[1] }}<br>{{ i[2] }}</pre>
          {% endfor %}
        {% endif %}

        {% if browserLink %}
          <p><a href="{{ browserLink }}">View original variant in UCSC Genome Browser</a></p>
        {% endif %}

        {% if genomicDescription %}
          {% if genomicDNA %}
            <h4>Genomic description</h4>
          {% else %}
            <h4>Description relative to transcription start</h4>
            <p>(Not for use in LSDBs in case of protein-coding transcripts).</p>
          {% endif %}
          <p><code><a href="{{ url_for('.name_checker', description=genomicDescription) }}">{{ genomicDescription }}</a></code></p>
        {% endif %}

        {% if chromDescription %}
          <h4>Alternative chromosomal position</h4>
          <p><code>{{ chromDescription }}</code></p>
        {% endif %}

        {% if descriptions %}
          <h4>Affected transcripts</h4>
          {% for i in descriptions %}
            {% if i.endswith('?') %}
              <p><code>{{ i }}</code></p>
            {% else %}
              <p><code><a href="{{ url_for('.name_checker', description=i) }}">{{ i }}</a></code></p>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if protDescriptions %}
          <h4>Affected proteins</h4>
          {% for i in protDescriptions %}
            <p><code>{{ i }}</code></p>
          {% endfor %}
        {% endif %}

        {% if transcriptInfo %}
          {% if oldProtein %}
            <h4>Reference protein</h4>
            <pre>
            {%- for i in oldProtein -%}
              {{-i |safe -}}<br>
            {%- endfor -%}
            </pre>

            <h4>Protein predicted from variant coding sequence</h4>
            {% if newProtein %}
              <pre>
              {%- for i in newProtein -%}
                {{- i|safe -}}<br>
              {%- endfor -%}
              </pre>
            {% else %}
              <p>No change: predicted protein (not shown) equals reference protein.</p>
            {% endif %}

            {% if altStart %}
              <h4>Alternative protein using start codon {{ altStart }}</h4>
              {% if altProtein %}
                <pre>
                {%- for i in altProtein -%}
                  {{- i|safe -}}<br>
                {%- endfor -%}
                </pre>
              {% else %}
                <p>No change: predicted protein (not shown) equals reference protein.</p>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}{# transcriptInfo #}

        {% if restrictionSites %}
          <h4>Effects on Restriction sites</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Raw variant</th>
                <th>Created</th>
                <th>Deleted</th>
              </tr>
            </thead>
            <tbody>
              {% for i in restrictionSites %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>
                  {% for j in i[0] %}
                      {{ j }}{{ ',' if not loop.last }}
                  {% endfor %}
                  </td>
                  <td>
                  {% for j in i[1] %}
                      {{ j }}{{ ',' if not loop.last }}
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if extractedDescription %}
          <h4>Experimental services</h4>
          <p>Genomic description: <code>{{ extractedDescription }}</code></p>
        {% endif %}
      </div>{# class="col-md-8 name-checker-left-column" #}

      <div class="col-md-4">
          {% if transcriptInfo %}
            <h4>Exon information</h4>
            <table class="table table2">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Start (g.)</th>
                  <th>Stop (g.)</th>
                  <th>Start {{ '(c.)' if transcriptCoding else '(n.)' }}</th>
                  <th>Stop {{ '(c.)' if transcriptCoding else '(n.)' }}</th>
                </tr>
              </thead>
              <tbody>
                {% for i in exonInfo %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    {% for j in i %}
                      <td>{{ j }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% if transcriptCoding %}
              <h4><span class="helper" title="Coding Sequence">CDS</span> information</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>g.</th>
                    <th>c.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Start</td>
                    <td>{{ cdsStart_g }}</td>
                    <td>{{ cdsStart_c }}</td>
                  </tr>
                  <tr>
                    <td>Stop</td>
                    <td>{{ cdsStop_g }}</td>
                    <td>{{ cdsStop_c }}</td>
                  </tr>
                </tbody>
              </table>
            {% endif %}
          {% endif %}{# transcriptInfo #}

          {% if reference_filename and not standalone %}
            <h4>Links</h4>
            <p>
            Download this reference sequence file:
            <a href="{{ url_for('.reference', filename=reference_filename) }}">{{ reference_filename }}</a>
            </p>
          {% endif %}
      </div>{# class="col-md-4" #}
    </div>{# class="row" #}

    <div class="row">
      <div class="col-md-12">
        <hr />
        {% if legends %}
          <h4>Legend</h4>
          <table class="table table3">
            <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Locus tag</th>
                <th>Product</th>
                <th>Link method</th>
              </tr>
            </thead>
            <tbody>
              {% for i in legends %}
                <tr>
                  {% for j in i %}
                    <td>{{ j if j else '' }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  {% endif %}{# not parse_error #}
{% endif %}{# description #}

{% endblock content %}

</div>

{% if piwik %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ piwik_base_url }}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', {{ piwik_site_id }}]);
    var d=document, g=d.createElement('script'),
  s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
  s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="{{ piwik_base_url }}/piwik.php?idsite={{ piwik_site_id }}"
                  style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% endif %}
</body>
</html>
