{% extends "base.html" %}

{% set active_page = "position-converter" %}
{% set page_title = "Position Converter" %}

{% block content %}

<p>
Please supply the genome assembly which you want to use to convert your
position.
</p>

<p>
<b>Note:</b> The Position Converter does NOT check the description or
normalize it to HGVS. Use the <a href="{{ url_for('.name_checker') }}">Name Checker</a> for this.
</p>


<form class="form" role="form" action="{{ url_for('.position_converter') }}" method="get" enctype="multipart/form-data">
  <div class="form-group">
    <label for="assembly_name_or_alias">Build</label>
    <select name="assembly_name_or_alias" id="assembly_name_or_alias" class="form-control">
      {% for assembly in assemblies %}
        <option value="{{ assembly.name }}"{% if assembly_name_or_alias in (assembly.name, assembly.alias) %} selected="selected"{% endif %}>{{ assembly.taxonomy_common_name }} &mdash; {{ assembly.name }}{% if assembly.alias %} ({{ assembly.alias }}){% endif %}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="description">Variant description</label>
    <input type="text" name="description" id="description" value="{{ description }}"
           class="form-control form-pre example-target" placeholder="Variant description using HGVS format">
    <p>Examples: <code class="example-input">NM_003002.3:c.274G&gt;T</code>, <code class="example-input">chr11:g.111959693G&gt;T</code> and <code class="example-input">NC_000011.9:g.111959693G&gt;T</code></p>
  </div>
  <div class="form-group button-group">
    <input type="submit" class="btn btn-primary" value="Convert variant description">
    <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/PositionConverter" target="new" class="btn btn-default pull-right">Help</a>
  </div>
</form>

{% if description %}
  <hr>
  {% for m in messages %}
    {% if m.class == "error" %}
      <p class="alert alert-danger" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "warning" %}
      <p class="alert alert-warning" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "information" %}
      <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% elif m.class == "debug" %}
      <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
    {% endif %}
  {% endfor %}

  {% if summary == "0 Errors, 0 Warnings." %}
    <p class="alert alert-success summary">{{ summary }}</p>
  {% else %}
    <p>{{summary}}</p>
  {% endif %}

  {% if chromosomal_description %}
    <h4>Chromosomal variant</h4>
    <p><code>{{ chromosomal_description }}</code></p>

    {% if transcript_descriptions %}
      <h4>Found transcripts in variant region</h4>
      <pre>{% for d in transcript_descriptions %}{{ d }}<br>{% endfor %}</pre>
    {% else %}
      <h4>No transcripts found in variant region</h4>
    {% endif %}
  {% endif %}
{% endif %}{# description #}

{% endblock content %}
