{% extends "base.html" %}

{% set active_page = "position-converter" %}
{% set page_title = "Position Converter" %}

{% block content %}

<div style="border: 1px solid grey; background-color: aliceblue; padding: 20px;">
  <p>
  Please supply the genome assembly which you want to use to convert your
  position.
  </p>
  <p>
  <b>Note:</b> The Position Converter does NOT check the description or
  normalize it to HGVS. Use the <a href="{{ url_for('.name_checker') }}">Name Checker</a> for this.
  </p>
  <p>
  Example: NM_003002.2:c.274G&gt;T<br>
  or: chr11:g.111959693G&gt;T<br>
  or: NC_000011.9:g.111959693G&gt;T<br>
  </p>
  <table id="inputform">
      <form action="{{ url_for('.position_converter') }}" method="get" enctype="multipart/form-data">
          <tr>
              <td><b>Assembly</b></td>
              <td>
                  <select name="assembly_name_or_alias">
                    {% for assembly in assemblies %}
<option value="{{ assembly.name }}"{% if assembly_name_or_alias in (assembly.name, assembly.alias) %} selected="selected"{% endif %}>{{ assembly.taxonomy_common_name }} &mdash; {{ assembly.name }}{% if assembly.alias %} ({{ assembly.alias }}){% endif %}</option>
                    {% endfor %}
                  </select>
              </td>
          </tr>
          <tr>
              <td><b>Variant</b></td>
              <td><input type="text" name="description" value="{{ description }}" style="width:500px"></td>
          </tr>
          <tr>
              <td colspan="2">
                <input type="submit" value="Submit">
                <input type="button" value="Clear field" onclick="clearField(this.form, 'description');">
                <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/PositionConverter">Help</a>
              </td>

          </tr>
      </form>
  </table> <!-- inputform -->
</div>

{% if description %}
  <h3>Results:</h3>

  <div class="messages">
    {% for m in messages %}
      <p class="{{ m.class }}" title="{{ m.level }} (origin: {{ m.origin
      }})">{{ m.description }}</p>
    {% endfor %}
    <p>{{ summary }}</p>
  </div>

  {% if chromosomal_description %}
    <p>
    <b>Chromosomal Variant:</b>
    </p>
    <pre>{{ chromosomal_description }}</pre>
    {% if not transcript_descriptions %}
      <p>
      <b>No transcripts found in mutation region</b>
      </p>
    {% endif %}
  {% endif %}

  {% if transcript_descriptions %}
    <p>
    <b>Found transcripts in mutation region:</b>
    </p>
    <pre>{% for d in transcript_descriptions %}{{ d }}<br>{% endfor %}</pre>
  {% endif %}
{% endif %}

{% endblock content %}
