{% extends "base.html" %}

{% set active_page = "snp-converter" %}
{% set page_title = "SNP Converter" %}

{% block content %}

<p>
Please insert
a <a href="http://www.ncbi.nlm.nih.gov/projects/SNP/">dbSNP</a> rs number
below. Mutalyzer will retrieve the HGVS description of the SNP specified on
the reference sequence(s) used by dbSNP.
</p>

<form role="form" class="form" action="{{ url_for('.snp_converter') }}" method="get">
  <div class="form-group">
    <label for="rsid">SNP</label>
    <input type="text" class="form-control form-pre" autofocus
           name="rs_id" id="rsid" placeholder="dbSNP rs number (including rs)" value="{{ rs_id }}" ></input>
    <p>Example:
      <code class="example-input" data-for="rsid">rs9919552</code>,
      <code class="example-input" data-for="rsid">rs25</code>
    </p>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Convert SNP">
    <a href="https://github.com/mutalyzer/mutalyzer2/wiki/Snp-Converter" target="new" class="btn btn-default pull-right">Help</a>
  </div>
</form>

{% if rs_id %}
  <hr>
  {% if messages %}
    {% for m in messages %}
      {% if m.class == "error" %}
        <p class="alert alert-danger" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "warning" %}
        <p class="alert alert-warning" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "information" %}
        <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "debug" %}
        <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if summary == "0 Errors, 0 Warnings."%}
    <p class="alert alert-success summary">{{ summary }}</p>
  {% else %}
    <p>{{summary}}</p>
  {% endif %}

  <hr>

  <h4>dbSNP rs ID</h4>
  <p><code>{{ rs_id }}</code></p>

  <h4>HGVS descriptions</h4>
  {% for d in descriptions %}
    <p><code>{{ d }}</code></p>
  {% endfor %}
{% endif %}{# rs_id #}

{% endblock content %}
