{% extends "base.html" %}

{% set active_page = "syntax-checker" %}
{% set page_title = "Syntax Checker" %}

{% block content %}

<p>
Please insert a variant description using
the <a href="http://varnomen.hgvs.org/" title="Human Genome Variation
Society Sequence Variant Nomenclature" alt="Human Genome Variation Society
Sequence Variant Nomenclature">HGVS</a> format.
</p>

<form class="form" action="{{ url_for('.syntax_checker') }}" method="get">
  <div class="form-group">
    <label for="description">Variant description</label>
    <input class="form-control form-pre" type="text" autofocus
           name="description" id="description" value="{{ description }}" placeholder="Variant description using HGVS format">
    <p>Examples:
      <code class="example-input" data-for="description">AB026906.1:c.40_42del</code>,
      <code class="example-input" data-for="description">NG_012337.1(SDHD_v001):c.274G&gt;T</code>,
      <code class="example-input" data-for="description">LRG_9t1:c.159dup</code>
    </p>
  </div>
  <div class="form-group button-group">
    <input type="submit" class="btn btn-primary" value="Check syntax">
    <a href="https://humgenprojects.lumc.nl/trac/mutalyzer/wiki/SyntaxChecker" target="new" class="btn btn-default pull-right">Help</a>
  </div>
</form>

{% if description %}
  <hr>
  {% if parse_error %}
    <div class="alert alert-danger">
      <h4>Parse error</h4>
      <pre>{{ parse_error[0] }}<br>{{ parse_error[1] }}</pre>
      <p>The &quot;^&quot; indicates the position where the error occurred.</p>
    </div>
  {% else %}
    <p class="alert alert-success">The syntax of this variant description is OK!</p>
  {% endif %}

  {% if messages %}
    {% for m in messages %}
      {% if m.class == "error" %}
        <p class="alert alert-danger" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "warning" %}
        <p class="alert alert-warning" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "information" %}
        <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% elif m.class == "debug" %}
        <p class="alert alert-info" title="{{ m.level }} (origin: {{ m.origin }})">{{ m.description }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}{# description #}

{% endblock content %}
