#
# Mutalyzer config file.
#
# Specify the location of this file in the MUTALYZER_SETTINGS environment
# variable.

# Use this email address for retrieval of records at the NCBI.
email = "mutalyzer@humgen.nl"

# The cache directory.
cache = "/home/<USERNAME>/.cache/mutalyzer"

# Name and location of the log file.
log = "/tmp/mutalyzer-<USERNAME>.log"
