#
# Mutalyzer config file.
#
# Copy this file to ~/.config/mutalyzer/config to overwrite definitions from
# /etc/mutalyzer.config.

# Use this email address for retrieval of records at the NCBI.
email = "mutalyzer@humgen.nl"

# The cache directory.
cache = "/home/<USERNAME>/.cache/mutalyzer"

# Name and location of the log file.
log = "/tmp/mutalyzer-<USERNAME>.log"
